**.DS_Store
log/*.log
log/*.pid
tmp/**/*
tmp/*
db/*_structure.rb
db/sphinx/*
public/assets/*
public/system/*
.bundle/*
data/*
vendor/bundle/*
vendor/bundler_gems/*
vendor/cache/*
config/development.sphinx.conf
config/test.sphinx.conf
config/initializers/rack-bug.rb
config/initializers/secret_token.rb
spec/fixtures/data/people.xml
webrat.log
rerun.txt
