.DV-cover{
  left:0;
  position:absolute;
  top:0;
  visibility:visible;
  z-index:1000;
}

.DV-pageMeta{
  font-family:Arial,Helvetica,sans-serif;
  height:20px;
  width:100%; height: 0;
  left:0;
  top:0;
  position:absolute;
  z-index:10001;
}

.DV-pageNumber  {
  display:inline;
  float:left;
  margin-left:0;
  margin-top:0;
  position:relative;
  zoom:1;
  font-size:10px;
  font-weight:bold;
  cursor: pointer;
  padding-left:8px;
}
  .DV-pageNumber:hover {
    text-decoration: underline;
  }

.DV-annotation .DV-pageNumber{
  display:none;
}

.DV-pageNumber{
  margin-top:20px;
}

.DV-layer-page .DV-pageNumber{
  margin-left:10px;
  position:absolute;
}

.DV-viewAnnotations .DV-pageNumber{
  display:inline;
  float:left;
  font-family:Arial,Helvetica,sans-serif;
  font-size:10px;
  margin-left:12px;
  margin-top:10px;
  position:relative;
  z-index:1200;
}

.DV-page{
  position:relative;
  left:0;
  top:0;
  border: 1px solid #b0b0b0;
  border-top-color: #c0c0c0;
  border-bottom-color: #999;
  background-color: #fff;
  overflow:visible;
}

.DV-pageImage{
  visibility:hidden;
  position:absolute;
  z-index:1;
  top:0;
  left:0;
  margin: 0 !important;
  padding: 0 !important;
}

.DV-loaded .DV-pageImage{
  visibility:visible;
  -moz-user-select:none;
}

.DV-pageImage,
.DV-annotationExcerptImage,
.DV-excerptHighLevel img{
  -ms-interpolation-mode: bicubic;
}

.DV-pages.DV-coverVisible .DV-paper{
  background: #888;
  cursor:pointer;
}

.DV-pages.DV-coverVisible .DV-page{
  border: 1px solid #777;
  background-color:#fff;
}

.DV-pages.DV-coverVisible .DV-pageImage{
  background-color:#000;
}

.DV-coverVisible .DV-cover{
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  cursor: pointer;
}

.DV-coverVisible .DV-page,
.DV-coverVisible .DV-pageCollection{
  cursor:pointer !important;
}

.DV-loading .DV-pageImage{
  visibility:hidden !important;
}

.DV-loading-top,
.DV-loading-bottom{
  right:0;
  top:0;
  position:absolute;
  padding:4px;
  background-color:#fff;
  color:#aaa;
  font-family:Arial,Helvetica,sans-serif;
  font-size:10px;
  text-align:center;
}

.DV-loaded .DV-loading-bottom{
  bottom:0;
}

.DV-loaded .DV-loading-top,
.DV-loaded .DV-loading-bottom{
  display:none;
}

.DV-set{
  position:absolute;
  top:0;
  left:0;
  padding-left:45px;
}

.p0,
.p1,
.p2{
  display:none;
  padding-left:60px;
  z-index:15999;
}

.DV-activePage{
  z-index:16000 !important;
}
