- embed_disqus("person-#{@person.id}")

- content_for :below_left_nav do
  %ul.user
    %li.race_tracker
      %a{:href => 'http://www.opencongress.org/wiki/Project:OpenGovernment'}
        Follow #{@person.full_name.possessive} campaign on
        OpenGovernment Wiki Project
