- embed_disqus("person-#{@person.id}")

- content_for :below_left_nav do
  %ul.user
    %li.race_tracker
      %a{:href => 'http://www.opencongress.org/wiki/Project:OpenGovernment'}
        = t('.follow_campaign_for', :full_name => @person.full_name.possessive)
