- if vitals
  %h2= link_to(t('.bills_sponsored', :count => vitals.bill_count), sponsored_bills_person_url(@person))
  .rank 
    = t '.ranks', :rank => vitals.rank.to_i.ordinalize, :total => vitals.total_sponsors
    = @person.chamber.title.pluralize
