%h2 Contact #{@person.full_name}

%p Here is the contact info that this legislator has made publicly available. Most elected officials only respond to their constituents, so be sure to note in your communication if you are a constituent. (If you're not sure if this person represents you, you can easily find out your elected officials from our homepage, and then contact them.) Short, specific communications typically work best.


%ul.contact_options
  = render 'links', :person => @person

%h2 Addresses
%ul.addresses
  - if @person.addresses.size > 0
    = render :partial => "shared/address", :collection => @person.addresses
  - else
    %p Sorry, we found no addresses. We believe it should be easy to see this person's official office addresses in the capitol and his or her district, but the government does not make data about addresses available in ways that are fully open. So, <a href="/pages/help">help us find this info</a> to display it here for everyone on the open Web!  



%p.public_schedule
  Public Schedule - we believe it should be easy to see a calendar of this elected official's recent and upcoming public events, but the government does not make data about its members' public appearances available in ways that are fully open. So, <a href="/pages/help">help us find this info</a>! 

%p.social_media
  Social media - we believe it should be easy to see a list of this elected official's social media accounts -- for example, his or her official Facebook and Twitter profiles -- but the government does not make data about its members' social media presence available in ways that are fully open. So, <a href="/pages/help">help us find this info</a>! 

%p Contact info via the non-partisan <a href="http://votesmart.org/index.htm" target="_blank">Project VoteSmart</a>. We seek to make the process of contacting elected officials even easier and more productive. For more tips on communicating productively with legislators, visit <a href="/pages/about">how to use OpenGovernment</a>. Do you have contact info for this person that we can display here for everyone on the open Web? <a href="/pages/contact">Let us know</a>. 
