%h2 Contact This Rep

%p Here is the contact info that this legislator has made publicly available. Most state legislators only respond to questions and comments from their constituents, so note whether or not you are a constituent in your communication.

%p We make it easy to find and contact the people who represent you in state government - enter your address here.

= render 'shared/find_my_rep_form', :narrow => true

%ul.contact_options
  = render :partial => 'links'

  %h2 Addresses
  %ul.addresses
    - if @person.addresses.size > 0
      = render :partial => "shared/address", :collection => @person.addresses
    - else
      %p Sorry, we found no addresses.

  %li.public_schedule
    Public Schedule - Help us find this info!

  %li.social_media
    Social media accounts (Help us find this info!)
    a) FB
    b) Twitter
    c) LinkedIn
    d) Identi.ca

%p We seek to make the process of contacting your elected officials even easier and more effective. Towards this end, we have plans on OpenGovernment that will allow you to find other people who care about the issues you do, and team up together to advocate. With your support, we can do more to open up government and provide meaningful public input to the legislative process. Donate or volunteer. For more helpful tips on communicating productively with members of state government, visit "how to use OpenGovernment".
