- title("Discuss #{@person.official_name}")

= render(:partial => 'wrapper')

.grid_12.alpha
  .intro Use this public forum productively to share information about this member. 
  #disqus_thread
  = embed_disqus("person-#{@person.id}")
