- title("Tweets about #{@person.official_name}")
- tweets(@person.full_name, 10)

.grid_16
  %h1.grid_13.alpha
        Here are the social media mentions found through Twitter search for this member at this time. This includes Tweets that include this member's full name, e.g., Firstname Lastname. You can add to this page and help build public knowledge about this bill. Simply Tweet about this member using his or her full name, and if it's published online where the Twitter search engines can find it, a link to your Tweet will automatically appear here within 24 hours. We've done our best to optimize our Twitter search processes for this member, but occasionally even our state-of-the-art serach robots bring in irrelevant Tweets, such as people with similar names -- so if you see irrelevant Tweets below, it's no big deal, please carry on. Actually, if you can take a moment to help, simply <a href="/pages/contact">send us an email</a> with the URL of this webpage and we'll get the extraneous Tweets cleaned-up and out-of-the-way as quickly as possible. With more resources, we could do more to expand our social media search into more-or-less closed-off social networking services such as Facebook -- read <a href="/pages/help">how you can help</a>. For now, here's what we found by way of real-world context for this person:    = @person.full_name
    
%hr.grid_16

= render :partial => 'nav'

.grid_12.omega
  #twitter(style="display: none;")
    %h2 Tweets
    .grid_6.alpha
      #notweets(style="display: none;")
        %p Well, no social media mentions found for this legislator at this time. But hey, we can build on this. Here's what we do: using Twitter Search, we automatically search all publicly-available Tweets for mentions of this person by his or her full name, e.g. "Firstname Lastname". Any matching results would be displayed below, but in their absence, there are a couple of likely reasons for this state of affairs that are worth mentioning. First, unfortunately, there are often not a lot of specific mentions of individual members in state government out there on Twitter to be found -- i.e., we're starting with a deficit of attention and resources for legislators at the state and local levels. Second, some entities such as issue-based groups or political reporters may be writing about this elected official, but not on the Web where search engines can find their content. In order to build public knowledge about people in state government, then, we need to first publish them online in open standards -- i.e., not on password-protected proprietary services like Facebook or Twitter, but rather on the wide expanse of the searchable Web -- so that everyone can easily find information about this member and learn what they're really doing in government. As for what you can do, Tweet about this person using the member's full name as above, and a link to your update will automatically appear here within 24 hours or so for everyone to access. And that would be greatly helpful. There's lots more to do to make our government more open and accountable -- e.g. with more resources we could do more to find mentions on more-or-less closed-off social networking services like Facebook -- read more about <a href="/pages/help">how you can help</a>. #{@person.full_name}.
      %ul#tweets
    