- title("Tweets about #{@person.official_name}")
- tweets(@person.full_name, 10)

= render(:partial => 'wrapper')

.grid_12
  %p= t '.intro', :search_term => @person.full_name
    
  #twitter(style="display: none;")
    %h2 Tweets
    .grid_12.alpha
      #notweets(style="display: none;")
        %p Well, no social media mentions found for this legislator at this time. But hey, we can build on this. Here's what we do: using Twitter Search, we automatically search all publicly-available Tweets for mentions of this person by his or her full name, e.g. "Firstname Lastname". Any matching results would be displayed below, but in their absence, there are a couple of likely reasons for this state of affairs that are worth mentioning. First, unfortunately, there are often not a lot of specific mentions of individual members in state government out there on Twitter to be found -- i.e., we're starting with a deficit of attention and resources for legislators at the state and local levels. Second, some entities such as issue-based groups or political reporters may be writing about this elected official, but not on the Web where search engines can find their content. In order to build public knowledge about people in state government, then, we need to first publish them online in open standards -- i.e., not on password-protected proprietary services like Facebook or Twitter, but rather on the wide expanse of the searchable Web -- so that everyone can easily find information about this member and learn what they're really doing in government. As for what you can do, Tweet about this person using the member's full name as above, and a link to your update will automatically appear here within 24 hours or so for everyone to access. And that would be greatly helpful. There's lots more to do to make our government more open and accountable -- e.g. with more resources we could do more to find mentions on more-or-less closed-off social networking services like Facebook -- read more about <a href="/pages/help">how you can help</a>.
      %ul.lined#tweets
    