.taggable[taggable]
  = check_box_tag "taggables[]", taggable.id
  = taggable.name.titleize
  .span-12{:class => 'red'}
    - taggable.issues.each do |tag|
      - tagging = taggable.taggings.find_by_tag_id(tag.id)
      %span
        %span
          = link_to(image_tag('delete.png'), admin_tagging_path(tagging, :taggable_type => @taggable_type), :remote => true, :method => :delete)
        = tag.name
