.grid_16
  %h1 Issues

.grid-16
  .sort
    Sort by
    = link_to "Name", url_for(:sort => 'name'), :remote => true
    = link_to "Most Viewed", url_for(:sort => 'views'), :remote => true
    = link_to "Most Used", url_for(:sort => 'bills'), :remote => true

#issues
  = render(:partial => 'shared/issue', :collection => @issues)
