



body{
margin: 0;
padding: 0;
background: url(/images/bg.gif);
}

/* Overrides*/
 th, td, caption{
   padding-left: 0;
 }
 

/* Pagination */
.pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em;
}

.pagination a, .pagination span {
  padding: .2em .3em;
}

.pagination span.disabled {
  color: #AAA;
}

.pagination span.current {
  font-weight: bold;
  background: transparent url('/images/apple-circle.gif') no-repeat 50% 50%;
}

.pagination a {
  text-decoration: none;
  color: black;
}

.pagination a:hover, .pagination a:focus {
  text-decoration: underline;
}

.match {
  border-bottom: 1px dotted red;
  padding-bottom: 0.1em;
}

/* Text meant only for screen readers */

.screen-reader-text {
	position: absolute;
	left: -9000em;
}

/*
  Tag cloud
*/

.css1 {
  font-size: 1.0em;
}

.css2 {
  font-size: 1.2em;
}

.css3 {
  font-size: 1.4em;
}

.css4 {
  font-size: 1.6em;
}

#tags a{
  text-decoration: none;
  margin: 0.5em 0.2em
}

#tags a:hover{
  text-decoration: underline;
}

.right{
  float: right;
}

.red{
  color: red;
}

#flash #flash_error{
  color: red;
}


.lower_chamber{
margin-right: 0;
}

nav.footer ul li {
  display: inline;
  padding-right: 10px;
}



