

/*///////////////////////////

~ Bill Listing

///////////////////////////*/


#bills ul li:hover a{ text-decoration: underline;}

.bill{
padding-bottom: 15px !important;
margin-bottom: 15px !important;
}

.bill_title{
font-size: 14px;
color: #444;
  line-height: 1.3em;
  }


.bill_link{
font-size: 14px;
padding-right: 5px;
  }
  

.bill_status{ 
padding: 5px 12px;
  font-size: 11px;
  color: #666;
margin-top: 15px;
background: #f3f7f7;
clear: both;
 
  
  -moz-box-shadow: 0 1px 0px #fff, inset 0 1px 0px #eee;
  -webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  


}


.bill_status div{
padding: 0px 0px 5px;
  padding-right: 20px;
  }
  



.sponsor_mug {
  padding-left: 1px;
}


.sponsor_mugs{
margin: 5px 0;
float: right !important;
height: 55px;
padding: 0 !important;
}



.sponsor_mugs span{
float: right;
clear: both;
display: block;
}




.sponsor_mugs a{
float:right;
padding: 2px;
margin: 0 0px 10px 10px;
box-shadow: 0 1px 1px #999;
  -moz-box-shadow: 0 1px 1px #666;
  -webkit-box-shadow: 0 1px 1px #999;
 
 overflow: hidden !important;
 
 border-radius: 2px;
  -moz-border-radius: 1px !important;
  -webkit-border-radius: 1px;

background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
}


.sponsor_mugs img{
border: 1px solid #fff;
}


#bill_actions td {
  padding: 5px 0;
}
