

.breadcrumb{
  float: left;
margin-top: -2px;
}

.breadcrumb li{
  float: left;
  line-height: 3em;
  list-style: none;
}

.breadcrumb li a{
  float: left;
  list-style: none;
  text-decoration: none;
font-size: 13px;
  line-height: 1.6em;
  margin: 0 !important;
}



.breadcrumb li a span{
  margin: 0 0 0 15px;

}

.breadcrumb li a:hover span{
text-decoration: underline;
}


.breadcrumb li:hover, .breadcrumb a.subhover{
  z-index: 120;

}


.breadcrumb li a:hover{

}

/* State selector menu */
ul.state-select,
ul.secondary-select {  
  list-style: none;  
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
  left: -1px;  
  margin: 0;
  padding: 5px;  
-moz-border-radius: 5px;
  display: none;  

  width: 237px;  
  top: 37px;
border: 1px solid #ccc;



  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff)); /* for webkit browsers */
  background: -moz-linear-gradient(bottom,  #eee,  #fff); /* for firefox 3.6+ */

}

ul.secondary-select {
  left: 8px !important;  
  width: 170px !important; 
}


ul.state-select li,
ul.secondary-select li {  
  list-style: none;
  background: none !important;
  border: 1px solid #ddd;
border-top: 0;
margin: 0 !important;
float: left;
}

ul.state-select li a,
ul.secondary-select li a {  
  float: left;
  margin: 0;
  padding-left: 25px;
  background: #fff !important;
  width: 150px;  
}


ul.secondary-select li a {  
  float: left;
  margin: 0;
  padding-left: 15px !important;
  background: #f9f9f9 !important;
  width: 95px;  
}

ul.state-select li a:hover,
ul.secondary-select li a:hover{  

  background: #efefef !important;
  }


ul.secondary-select {  
  list-style: none;  
  position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/  
  left: -1px;  
  background: #fff;  
  margin: 0;
  padding: 0;  
  display: none;  
  float: left;
  width: 235px;  
  top: 47px;
border: 1px solid #ccc;
  border-top: 0;
}


ul.breadcrumb li span.subhover 
{cursor: pointer;} /*--Hover effect for trigger--*/  




.dropdown{
  background: url(/images/sprites.png) -7px -314px no-repeat, -moz-linear-gradient(top,  #fff,  #fcfcfc) !important;
  border: 1px solid #fff;
  position: absolute;

  z-index: 999999;

  top: 8px;
  right: 27px;
  margin: 0 !important;
  padding: 0 !important;
  height: 20px !important;
  width: 20px !important;
  }


.breadcrumb li:hover .dropdown{
  background: url(/images/sprites.png) -7px -314px no-repeat, -moz-linear-gradient(top,  #fff,  #fcfcfc) !important;
  border: 1px solid #ddd;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius:3px;
  
  -moz-box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;

  z-index: 99;

  top: 8px;
  right: 27px;
  margin: 0 !important;
  padding: 0 !important;
  height: 20px !important;
  width: 20px !important;
  }


.dropdown:hover{
  background: url(/images/sprites.png) -7px -314px no-repeat, -moz-linear-gradient(top,  #fff,  #fff);
  border: 1px solid #aaa !important;

  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius:3px;
  
  -moz-box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  }


.dropdown.subhover{
  background: url(/images/sprites.png) -7px -314px no-repeat, -moz-linear-gradient(top,  #eee,  #fff);
  border: 1px solid #ccc !important;

  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius:3px;
  
  -moz-box-shadow: 0 1px 0px #fefefe, inset 0 1px 1px #ddd;
  -webkit-box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #fefefe, inset 0 1px 0px #fff;
  }



.current{
padding-left: 40px;
}

