/* Always put config variables above imports. */
/* Don't import anything that includes any CSS rules on import. It will add them to every stylesheet */
/* line 3, ../../app/stylesheets/breadcrumb.scss */
.beta {
  font-weight: normal;
  font-size: 11px;
  background: #ededed;
  padding: 3px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: -3px 25px 0 10px;
  float: left;
  display: none !important;
}

/* line 18, ../../app/stylesheets/breadcrumb.scss */
.help,
#account .modal {
  float: right;
}

/* line 23, ../../app/stylesheets/breadcrumb.scss */
.breadcrumb {
  float: left;
  border-left: 1px solid #ccc;
  margin-top: -2px;
  padding-left: 10px;
}

/* line 30, ../../app/stylesheets/breadcrumb.scss */
.breadcrumb li {
  float: left;
  line-height: 3em;
  list-style: none;
  padding-right: 0px;
  position: relative;
}

/* line 38, ../../app/stylesheets/breadcrumb.scss */
.breadcrumb li a {
  float: left;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3em;
  margin: 0 !important;
  color: #215357;
}

/* line 52, ../../app/stylesheets/breadcrumb.scss */
.breadcrumb li a span {
  margin: 0 0 0 15px;
}

/* line 56, ../../app/stylesheets/breadcrumb.scss */
.breadcrumb li a:hover span {
  text-decoration: underline;
}

/* line 61, ../../app/stylesheets/breadcrumb.scss */
li.topnav {
  padding: 0 0px 0 0 !important;
  margin-right: 10px;
}

/* line 68, ../../app/stylesheets/breadcrumb.scss */
li.topnav a {
  padding: 0 10px 0 0 !important;
}

/* line 73, ../../app/stylesheets/breadcrumb.scss */
.breadcrumb li:hover, .breadcrumb a.subhover {
  z-index: 120;
}

/* State selector menu */
/* line 84, ../../app/stylesheets/breadcrumb.scss */
.state-select,
div.session-select {
  position: absolute;
  /*--Important - Keeps subnav from affecting main navigation flow--*/
  left: -4px;
  margin: 0;
  padding: 8px !important;
  width: 237px;
  top: 39px;
  z-index: 9999999;
  display: none;
  border: 1px solid #aaa;
  border-bottom: 1px solid #999;
  border-top: 1px solid #ccc;
  z-index: 9999999999 !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#efefef));
  /* for webkit browsers */
  background: -moz-linear-gradient(bottom, #eeeeee, #efefef);
  /* for firefox 3.6+ */
  -moz-box-shadow: 0 2px 3px #999, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 2px 3px #999, inset 0 1px 0px #fff;
  box-shadow: 0 2px 3px #999, inset 0 1px 0px #fff;
  -moz-border-radius: 5px;
}

/* line 110, ../../app/stylesheets/breadcrumb.scss */
.state-select:hover,
.session-select:hover {
  z-index: 9999999999 !important;
}

/* line 117, ../../app/stylesheets/breadcrumb.scss */
div.session-select {
  position: absolute;
  /*--Important - Keeps subnav from affecting main navigation flow--*/
  left: -4px;
  margin: 0;
  padding: 8px !important;
  z-index: 999999999 !important;
  top: 77px;
}

/* line 127, ../../app/stylesheets/breadcrumb.scss */
.triangle {
  position: absolute;
  top: -9px;
  left: 43px;
  height: 16px;
  width: 25px;
  z-index: 999999999;
  background: url(../images/gray_triangle.png) 0 0 no-repeat;
}

/* line 140, ../../app/stylesheets/breadcrumb.scss */
.state-select ul,
.session-select ul {
  list-style: none;
  margin: 0;
  display: block;
  border-top: 1px solid #e8e8e8;
  width: 237px;
}

/* line 153, ../../app/stylesheets/breadcrumb.scss */
.state-select li,
.session-select li {
  list-style: none;
  background: none !important;
  border: 1px solid #ddd;
  border-top: 0;
  margin: 0 !important;
  float: left;
  padding: 0;
}

/* line 165, ../../app/stylesheets/breadcrumb.scss */
.state-select li a,
.session-select li a {
  float: left;
  text-decoration: none;
  margin: 0;
  padding: 11px 0 11px 15px !important;
  background: #fff !important;
  width: 220px;
  font-size: 12px;
}

/* line 177, ../../app/stylesheets/breadcrumb.scss */
.state-select li a:hover,
.session-select li a:hover {
  text-shadow: 0 2px 0px #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f6f6f6)) !important;
  background: -moz-linear-gradient(bottom, #f6f6f6, white) !important;
}

/* line 185, ../../app/stylesheets/breadcrumb.scss */
.state-select li a:active,
.session-select li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(white)) !important;
  background: -moz-linear-gradient(bottom, white, #f6f6f6) !important;
}

/* line 194, ../../app/stylesheets/breadcrumb.scss */
ul.breadcrumb li span.subhover {
  cursor: pointer;
}

/*--Hover effect for trigger--*/
/* line 198, ../../app/stylesheets/breadcrumb.scss */
.dropdown {
  clear: both;
  font-size: 13px;
  margin: 0px 0 0px -22px !important;
  padding: 9px 0 8px 15px !important;
  width: 211px !important;
  display: block;
  border: 1px solid #bbb;
  text-decoration: none !important;
  text-shadow: 0 1px 0px #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  background: url(../images/sprites.png) 186px -309px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#efefef));
  background: url(../images/sprites.png) 186px -309px no-repeat, -moz-linear-gradient(top, #fefefe, #efefef);
  -moz-box-shadow: inset 0 1px 0px #f4f9f9;
  -webkit-box-shadow: inset 0 1px 0px #f4f9f9;
  border-top: none;
}

/* line 217, ../../app/stylesheets/breadcrumb.scss */
.dropdown:hover {
  background: url(../images/sprites.png) 186px -309px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#e2ecee)) !important;
  background: url(../images/sprites.png) 186px -309px no-repeat, -moz-linear-gradient(top, white, #e2ecee) !important;
  text-decoration: none;
  -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0px white;
  -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0px white;
}

/* line 227, ../../app/stylesheets/breadcrumb.scss */
.dropdown.subhover {
  text-decoration: none;
  -moz-box-shadow: 0 1px 0px #eeeeee, inset 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0px #eeeeee, inset 0 1px 1px rgba(0, 0, 0, 0.5);
  background: url(../images/sprites.png) 186px -309px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  background: url(../images/sprites.png) 186px -309px no-repeat, -moz-linear-gradient(top, white, #eeeeee);
}

/* line 237, ../../app/stylesheets/breadcrumb.scss */
.current {
  padding-left: 40px;
}

/* line 242, ../../app/stylesheets/breadcrumb.scss */
a#dropdown.dropdown {
  font-size: 14px;
  padding: 16px 0 15px 15px !important;
  background: url(../images/sprites.png) 186px -302px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee)) !important;
  background: url(../images/sprites.png) 186px -301px no-repeat, -moz-linear-gradient(top, white, #eeeeee) !important;
}

/* line 250, ../../app/stylesheets/breadcrumb.scss */
a#dropdown.dropdown:hover {
  background: url(../images/sprites.png) 186px -301px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#e2ecee)) !important;
  background: url(../images/sprites.png) 186px -301px no-repeat, -moz-linear-gradient(top, white, #e2ecee) !important;
}

/* line 258, ../../app/stylesheets/breadcrumb.scss */
#statelevel {
  display: block;
  padding: 15px;
  float: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  margin: -1px 0 0 -21px;
  width: 196px;
  font-size: 14px;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee)) !important;
  background: -moz-linear-gradient(top, white, #eeeeee) !important;
}

/* line 273, ../../app/stylesheets/breadcrumb.scss */
#statelevel:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e2ecee)) !important;
  background: -moz-linear-gradient(top, white, #e2ecee) !important;
}

/* line 282, ../../app/stylesheets/breadcrumb.scss */
#dropdown.statedropdown {
  display: block;
  padding: 10px;
  float: left;
  height: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  margin: 8px 0 0 -21px;
  width: 200px;
  position: absolute;
  width: 6px;
  left: 210px;
  background: url(../images/sprites.png) -4px -312px no-repeat, -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee)) !important;
  background: url(../images/sprites.png) -4px -312px no-repeat, -moz-linear-gradient(top, white, #eeeeee) !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 300, ../../app/stylesheets/breadcrumb.scss */
#dropdown.statedropdown:hover {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

/* line 305, ../../app/stylesheets/breadcrumb.scss */
#dropdown.statedropdown.subhover {
  border: 1px solid rgba(0, 0, 0, 0) !important;
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
}

/* line 321, ../../app/stylesheets/breadcrumb.scss */
.prior_session {
  margin: 0 0 0 -26px;
  width: 206px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
  /* for webkit browsers */
  background: -moz-linear-gradient(bottom, #eeeeee, white);
  /* for firefox 3.6+ */
  padding: 5px 10px;
  border-bottom: 1px solid #c7d8da;
  position: relative;
  z-index: 100;
}

/* line 333, ../../app/stylesheets/breadcrumb.scss */
.current_session {
  position: relative;
  z-index: 100;
  margin: 0 0 0 -10px;
  width: 200px;
  padding: 5px 10px 5px 15px;
}

/* line 342, ../../app/stylesheets/breadcrumb.scss */
.prior_session a {
  float: right;
}

/* line 346, ../../app/stylesheets/breadcrumb.scss */
.sponsor_preview {
  padding-bottom: 20px;
}

/* line 350, ../../app/stylesheets/breadcrumb.scss */
.bar {
  height: 27px;
  line-height: 27px;
  margin-left: -5px;
  width: 220px;
  display: block;
}
