.venn{
width: 714px; 
  background: transparent url(/images/about.png) 0 0 no-repeat !important;
margin: 40px 0 40px -13px;
height: 590px;
}


/*///////////////////////////////////////////////////

~ Classes

///////////////////////////////////////////////////*/


.spin{
  background: transparent url(/images/pulse.gif) 0 0 no-repeat !important;
  height: 31px;
  width: 31px;  
  position: absolute;
  top: 75px !important;
  right: 20px;
  z-index: 999;
  }



#flash{
  background: #efefef;
  padding: 20px;
  margin: 0 -16px 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
  background: -moz-linear-gradient(bottom,  #fff,  #eee); /* for firefox 3.6+ */
  
  
  }

#flash #flash_error{
  color: red;
  font-weight: bold;
  text-align: center;
  }



.intro{
  padding: 30px 0 10px;
  font-size: 13px;
  line-height: 1.5em;
  }



/*///////////// ~  Standard Button  ~ /////////////*/


.button{

  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold !important;
  
  text-shadow: 0 1px 0px #fff;
  
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
  
  
  border: 1px solid #a7c3c9;
  border-top: 1px solid #c6d9de;
  border-bottom: 1px solid #4e7179;
  
  
  -moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
  
  }


.rounded{
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  }



/*///////////// ~  Type Stuff  ~ /////////////*/

.centered{ text-align: center;}

.bold{ font-weight: bold;}

.no-deco{ text-decoration: none;}

.italic{font-style: italic;}



.red{
  color: red;
}


/*///////////// ~  Margins  ~ /////////////*/

.margin-top{ margin-top: 13px;}

.margin-bottom{ margin-bottom: 13px;}

.no-margin{ margin: 0;}


.push_bottom { margin-bottom: 10px;}

.push_top {padding-top: 10px}



/*///////////// ~  Paddings  ~ /////////////*/






/*///////////// ~  Floating  ~ /////////////*/

.floatright{ float: right;}

.floatleft{ float: left;}




/*///////////// ~  Cancellations  ~ /////////////*/



.space {background:#fff;color:#fff;visibility:hidden; height: 35px;}





.full_lined{
border-top: 1px solid #ddeded;
border-bottom: 1px solid #ddeded;
float: left;

margin: 0 0px 0 -39px !important;
width: 764px !important;

background: #f4f9fa;

  }



/*///////////// ~  Standard List  ~ /////////////*/


ul.lined{
  margin: 0 0 20px !important;
  padding:0;
  }

ul.lined li{
  border-bottom: 1px solid #f4f9fa;
  margin: 0 0 5px;
  padding: 0px 0 5px;
  line-height: 1.4em;
  }


ul.lined li:first-letter{
  text-transform: uppercase;
  }


ul.lined.and_spaced li{
  padding-bottom: 10px;
  margin-bottom: 10px;
  }

ul.lined.and_spaced.with_titles li a{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  }




/*
.money_trails ul.lined li{
  padding-left: 20px;
  background: #fff url(/images/cash.gif) left 2px no-repeat;
  }

.issues ul.lined li{
  padding-left: 20px;
  background: #fff url(/images/issues.gif) left 2px no-repeat;
  }

*/


.boxxed{
  border: 1px solid #fff;
  -moz-box-shadow: 0px 1px 2px #6d6a58;
  -webkit-box-shadow: 0px 1px 2px #6d6a58;
  box-shadow: 0px 1px 2px #6d6a58;


  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #f7fbfb); /* for firefox 3.6+ */

  }







.tip{
  background: #c3d3e4;
  padding: 30px 0;
  font-style: italic;
  font-weight: bold;
  color: #4c647a;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow:inset 0px 0px 1px #ccc, inset 0px 1px 2px #777, inset 0px 5px 9px #eee, 0px 1px 2px #fff;
  
  margin: 0 0 15px;
  
  -webkit-box-shadow:inset 0px 0px 1px #ccc, inset 0px 1px 2px #777, inset 0px 5px 9px #eee, 0px 1px 2px #fff;
  box-shadow:inset 0px 0px 1px #ccc, inset 0px 1px 2px #777, inset 0px 5px 9px #eee, 0px 1px 2px #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f5', endColorstr='#f7fbfb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#f7fbfb)); /* for webkit browsers */

  background: -moz-linear-gradient(top,  #f4f5f5,  #f7fbfb); /* for firefox 3.6+ */
  }




.vote_smart_keyvote{ color: #999; font-size: 11px;}



.subhead, .state-and-chamber {
  color: #888;
  display: block;
padding-bottom: .5em;
font-size: 12px;
  }






/*///////////// ~  Calendar  ~ /////////////*/


.fancy-date{
  border: 1px solid #f0f0f0;
  display: block;
  text-shadow: 0 1px 0px #fff;
  width: 40px;
  background: #f6f6f6;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius:3px;
  }


.date-month,
.date-day,
.date-year{
  display: block;
  text-align: center;
  }

.date-month{
  font-weight: bold;
  font-size: 10px;
  padding: 5px 0 0;
  text-transform: uppercase;
  }


.date-day{
  font-weight: bold;
  font-size: 15px;
  padding: 0;
  text-transform: uppercase;
  }

.date-year{
  font-size: 10px;
  padding: 0 0 5px;
  text-transform: uppercase;
  }



.race_tracker a{
font-size: 11px;
 border-top: 1px solid #d1dddd;
display: block;
margin-left: -26px;
line-height: 1.4em;
padding: 15px 26px;
  }
  
  

.cancel_button{
position: absolute;
right: 0px;
top: 0px;
overflow: hidden;
height: 0;
width: 44px;
padding-top: 42px;
display: block;
  background: url(/images/x.png) 16px 14px no-repeat;
border-left: 1px solid #e9e9e9;
}



.cancel_button:hover{
  background: #fff url(/images/x.png) 16px 14px no-repeat;
}


.popup h2{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
  background: -moz-linear-gradient(bottom,  #eee,  #fff); /* for firefox 3.6+ */
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding-left: 14px;
margin: 0;
}


.popup p{
clear: both;
padding: 14px;
margin: 0;
}


.popup ul{
padding: 14px;
}


.popup ul li{
padding: 0px 20px 0 0;
margin: 0;
}

.popup .contact_options{
font-size: 18px;
margin-bottom:40px;
}


.popup .contact_options li{
float: left;
clear: none;
}


.popup .addresses{
margin-bottom: 120px;
}


.sign{
width: 180px;
}

.bills.votes .sorts{
margin-bottom: 20px !important;
}

.bills.show .contact_options,
.bills.show .addresses{
padding: 10px 0;
clear: both;
}


.bills.show .rep{
padding: 10px 0;
width: 610px;
border: 1px solid #ddd;
padding: 20px;
background: #eee;
}



.bills.show .rep .full_name,
.bills.show .rep img{

float: left;
}



.bills.show .rep .full_name{
padding: 35px 0 0 25px;
font-size: 25px;

}




