.boxxed{
  border: 1px solid #fff;
  -moz-box-shadow: 0px 1px 2px #75a2ab;
  -webkit-box-shadow: 0px 1px 2px #75a2ab;
  box-shadow: 0px 1px 2px #75a2ab;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #f7fbfb); /* for firefox 3.6+ */

  }


.sub_footer{
  width: 960px;
  padding: 0 15px;
  margin: 0px auto 20px;
  font-size: 11.5px;
  }



/*///////////////////////////

~ Classes

///////////////////////////*/

.centered{
text-align: center;
}

.rounded{
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
}

.margin-top{
  margin-top: 13px;
  }


.floatright{
  float: right;
  }


.vote_smart_keyvote{
color: #999;
}

.bold{
font-weight: bold;
}


.tip{
  background: #c3d3e4;
  padding: 30px 0;
  font-style: italic;
  font-weight: bold;
  color: #4c647a;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-box-shadow:inset 0px 0px 1px #ccc, inset 0px 1px 2px #777, inset 0px 5px 9px #eee, 0px 1px 2px #fff;
  
  margin: 0 0 15px;
  
  -webkit-box-shadow:inset 0px 0px 1px #ccc, inset 0px 1px 2px #777, inset 0px 5px 9px #eee, 0px 1px 2px #fff;
  box-shadow:inset 0px 0px 1px #ccc, inset 0px 1px 2px #777, inset 0px 5px 9px #eee, 0px 1px 2px #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f5f5', endColorstr='#f7fbfb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#f7fbfb)); /* for webkit browsers */

  background: -moz-linear-gradient(top,  #f4f5f5,  #f7fbfb); /* for firefox 3.6+ */
  }




.state-and-chamber{
color: #888;
display: block;
}



.session{
margin-top: 20px;
clear: both;
display: block;
}



.fancy-date{
border: 1px solid #f0f0f0;
display: block;
text-shadow: 0 1px 0px #fff;
width: 40px;
background: #f6f6f6;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;



}


.date-month,
.date-day,
.date-year{
display: block;
text-align: center;
}

.date-month{
font-weight: bold;
font-size: 10px;
padding: 5px 0 0;
text-transform: uppercase;
}


.date-day{
font-weight: bold;
font-size: 15px;
padding: 0;
text-transform: uppercase;
}

.date-year{
font-size: 10px;
padding: 0 0 5px;
text-transform: uppercase;
}


.button{

font-family: Arial, Helvetica, sans-serif;
font-weight: bold !important;

text-shadow: 0 1px 0px #fff;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius:3px;


border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #4e7179;


-moz-box-shadow: 0 1px 0px #a7c3c9, inset 0 1px 0px #fff;
-webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */

}





/*///////////////////////////

~ Container

///////////////////////////*/




.main{
background: #fff;
border-top: 1px solid #d6e8eb;
}





/*///////////////////////////

~ Header

///////////////////////////*/

header{
height: 46px;
position: relative;
margin: 0;
}



#account{
padding: 16px 0 0;
}


#account p{
margin: 0;
padding: 0;
}


#account a{
margin: 0;
padding: 0 20px 0 0;
}




/*///////////////////////////

~ Content

///////////////////////////*/

.content{
clear: both;
}




.auto_find{
float: right;
}



aside.span-6.last{

}

.less_padding{
padding: 0px 0;
}


#left_nav ul {
margin: 0;
}

#left_nav ul li{
margin: 0;
padding-right: 19px;
}

#left_nav ul li a{
margin: 0;
padding: 8px 0px;
display: block;
border-bottom: 1px solid #ddd;
}

#left_nav ul li ul a{
margin: 0;
display: block;
padding-left: 10px;
}



#left_nav ul li.selected{
background: url(/images/sub.png) right -1px no-repeat;
font-weight: bold;
}




/*///////////////////////////

~ Views

///////////////////////////*/

.views{
font-size: 11px;
padding: 10px 0 10px 22px;
display: block;
background: url(/images/sprites.png) left -165px no-repeat;
}


.addresses li{
clear: none;
font-size: 11px;
}

.summary{
font-size: 18px;
line-height: 1.4em;
padding: 5px 0 25px;
margin: 0;
}



.district_map img{
padding-bottom: 20px;
}




/*///////////////////////////

~ Search

///////////////////////////*/


.search{
padding: 10px 0 0 0;
height: 28px;
}


.search #search_type{
float: left;
margin: 4px 15px 0 0;
}


.field{
  border: 0;
  padding: 0px;
margin: 0;
 }


input#q{
border: 0;
padding: 6px 8px;
  border: 0;
  width: 180px;
  float: left;

 margin-top: 1px;
  box-shadow:inset 0 0 10px #999;
  -moz-box-shadow:inset 0 1px 1px #999;
  -webkit-box-shadow:inset 0 0 10px #999;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  
  background: -moz-linear-gradient(top,  #eee,  #fff); /* for firefox 3.6+ */
 
}


.search input#q{
border: 0;
padding: 5px 8px;
  border: 0;
  width: 180px;
  float: left;

 margin-top: 1px;
  box-shadow:inset 0 0 10px #999;
  -moz-box-shadow:inset 0 1px 1px #999;
  -webkit-box-shadow:inset 0 0 10px #999;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  
  background: -moz-linear-gradient(top,  #eee,  #fff); /* for firefox 3.6+ */
 
}



.search .search_button{
margin: 0;
padding: 0 !important;
float: right;
}






.search_button input{
padding: 5px 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin: 0px;

float: right;
cursor: pointer;
font-size: 11px;
font-weight: bold;
text-align: center;
-moz-outline: none;
outline: none;

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #95b6bd;


  -moz-box-shadow: 0 1px 0px #95b6bd, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #ecf9fc,  #d6e8eb); /* for firefox 3.6+ */
}


.search_button input:hover{

border: 1px solid #a7c3c9;
border-top: 1px solid #c6d9de;
border-bottom: 1px solid #95b6bd;


  -moz-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  -webkit-box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;
  box-shadow: 0 1px 0px #dbdbdb, inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #d6e8eb); /* for firefox 3.6+ */
}


.search_button input:active{

border: 1px solid #fff;


  -moz-box-shadow:inset 0 1px 1px #333;
  -webkit-box-shadow:inset 0 1px 1px #333;
  box-shadow:inset 0 1px 1px #333;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #d6e8eb,  #ecf9fc); /* for firefox 3.6+ */
}



/*///////////////////////////

~ Genders

///////////////////////////*/


.gender-unknown{
padding-left: 20px;
background: url(/images/sprites.png) left -30px no-repeat;
}

.gender-male{
padding-left: 20px;
background: url(/images/sprites.png) left 2px no-repeat;
}


.gender-female{
padding-left: 20px;
background: url(/images/sprites.png) left -61px no-repeat;
}




.bill_link{
font-weight: bold;
padding-left: 15px;
background: url(/images/sprites.png) left -149px no-repeat;
}




.details{
padding-top: 30px;
}


.committees_count{
float: right;
margin-top: -40px;
}





/*///////////////////////////

~ Find YOur Districts

///////////////////////////*/

.full_lined{
border-bottom: #ddd 1px solid; 
padding: 10px 0;
min-height: 20px;
}

.find_form{
border: 1px solid #eee;
overflow: auto;
padding: 10px 18px;
background: #f9f9f9;

-moz-border-radius: 5px;

}




.find_box{
padding: 15px 0 10px;
position: relative;

}


.auto_find{
position: absolute;
right: 81px;
top: -13px;
display: block;
background: #fff;
border-bottom: 0;

  border-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius: 4px;



filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #cfe7e9,  #aeccce); /* for firefox 3.6+ */

border: 1px solid #38575d;
border-top: 1px solid #69949c;
border-bottom: 0;
  border-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-radius: 4px;

}



.auto_find a{
display: block;
padding: 7px 0 6px 25px;
background: #fff;
width: 248px;
font-size: 11px;
text-shadow: #d5ebef 0px 1px 0px;

background: url(/images/sprites.png) 10px -218px no-repeat;

font-weight: bold;
text-transform: uppercase;

}


.auto_find a:hover{
text-decoration: none;
}




#find_my_rep{
padding: 0px;
width: 700px;
}

#find_my_rep #q{
width: 200px;
background: url(/images/sprites.png) 8px -218px no-repeat;
}


#find_my_rep label{
padding: 5px 20px 0 0px;
float: left;
margin:0 0 0px;
font-size: 14px;
line-height:1.3em;
color: #36676f;
 clear: both; 
font-weight: normal;
 
}





.finding{
position: absolute;
width: 18px;
height: 18px;
right: 83px;
top: 21px;
background: url(/images/location_spinner.gif) no-repeat;
}



/*///////////////////////////

~ Donate

///////////////////////////*/





p.donate{
padding-top: 10px;
}

p.donate a{
display: block;
padding: 10px 0 10px 10px;
font-weight: bold;
background: #fff;
margin-left: -10px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}






/*///////////////////////////

~ People Main Page

///////////////////////////*/


.lined li.person{
margin: 0 !important;
overflow: auto;
padding: 0px !important;
}

.lined li.person a{
display: block;
height: 68px;
padding: 10px 0 !important;
}

.lined li.person a:hover{
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #f7fbfb); /* for firefox 3.6+ */

}

.lined li.person a:hover .small_thumbnail{
background: -moz-linear-gradient(top,  #f7fbfb,  #c5e4ea); /* for firefox 3.6+ */
}


.lined li.person a .small_thumbnail {
float:left;
padding: 2px;

box-shadow: 0 1px 1px #999;
  -moz-box-shadow: 0 1px 1px #666;
  -webkit-box-shadow: 0 1px 1px #999;
 
 overflow: hidden !important;
 
 border-radius: 4px;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 4px;

background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
}


.lined li.person a .small_thumbnail img{
display: block;
height: 60px;
width: 50px; 
border: 1px solid #fff;
}


.lined li.person a span.person_name{
float: left;
margin: 25px 0 0 20px;
font-size: 20px;
}


.lined li.person a .person_district{
float: right;
margin: 25px 0 0 20px
}




/*///////////////////////////

~ Key votes

///////////////////////////*/


.key_votes{
position: relative;
}


.key_votes a.what{
position: absolute;
right: 0;
top: 12px;
}



.key_votes div.small.quiet{
position: absolute;
left: 90px;
top: 12px;
}



/*///////////////////////////

~ Bill Listing

///////////////////////////*/

.bill_status{
font-size: 11px;
}


.bill_title{
color: #777;
}


/*///////////////////////////

~ Footer

///////////////////////////*/



.footer{
clear: both;
}

.footer li{
clear: none;
line-height: 2.5em;
}


.footer h4{
margin-top: 10px;
line-height: 3em;
border-bottom: 1px solid #d1dddd;
color: #777;
}


.footer li a{
display: block;

}



/*///////////////////////////

~ 404

///////////////////////////*/

.fourohfour{
font-size: 300px;
display: block;
width: 900px;
text-align: center;
margin: 100px auto -20px;
padding-top: 100px;
font-weight: bold;
overflow: hidden;
height: 70px;
color: #c3d3e4;
text-shadow: 10px 10px 0px #6e8499;
}




/*///////////////////////////

~ Tabs & Sorting 

///////////////////////////*/



.tabs{
float: left;
margin: 0;
}


.tabs li{
float: left;
clear: none;
padding: 0;
margin: 0;
}

.tabs li.divider{
padding: 10px 15px;
color: #36676f;
}

.tabs li a{
float: left;
clear: none;
font-size: 18px;
margin:0px;
font-size: 16px;
line-height:1.3em;
padding: 10px 0;
color: #36676f;
text-transform: uppercase;
}


.tabs li a.active{
font-weight: bold;
}






/*///////////////////////////

~ Take Action

///////////////////////////*/



.take_action{
padding-top: 28px;
float: right;
width: 500px;
position: relative;
margin-bottom: 15px;
z-index: 100000;
}

.hov{
float: right;
width: 80px;
padding: 0;
margin-left: 20px;
position: relative;
z-index: 100010;
}


.hov:hover{
cursor: pointer; 
}


.hov h4{
margin: 0px 0 0;
float: right;

cursor: pointer;
font-size: 11px;
padding: 0;


font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 11px;

}



.hov .drop{
display: none;
}


.hov:hover .drop{
display: block !important;
position: absolute;
top: 43px;
width: 200px;
height: 100px;
z-index: 9999998;
right: 0;
-moz-border-radius-topright: 0px;

cursor: default;

-moz-box-shadow: 0 1px 0px #a7c3c9;
-webkit-box-shadow: 0 1px 0px #dbdbdb;
box-shadow: 0 1px 0px #dbdbdb;


}



.hov h4 span{
padding-right: 20px;
float: left;
padding: 6px 10px 0px;
}


.hov:hover h4{
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 0px;
padding-bottom: 17px;
border-bottom: none !important;
position: relative;
z-index: 99999999;
-moz-box-shadow: inset 0 1px 0px #fff;
-webkit-box-shadow: inset 0 1px 0px #fff;
box-shadow: inset 0 1px 0px #fff;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffff', endColorstr='#ddddd'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #eaf8fb); /* for firefox 3.6+ */


}




.hov h4 .arrow{
float: right;
border-left: 1px solid #b3cdd1;
height: 25px;
width: 25px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
padding: 0;
margin: 0 !important;
background: url(/images/sprites.png) -3px -312px no-repeat;
}


.hov:hover h4 .arrow{
-moz-box-shadow: inset 0 -1px 0px #d8ecf0;
-webkit-box-shadow: inset 0 -1px 0px #d8ecf0;
box-shadow: inset 0 -1px 0px #d8ecf0;
-moz-border-radius-bottomright: 0px;
border-bottom: 1px solid #fff;
-moz-border-radius-bottomleft: 4px;
background: #e8f7fa url(/images/sprites.png) -3px -312px no-repeat !important;
}




.support_buttons a{
margin: 0px 0 0 10px;
width: 30px;
float: right;
text-transform: uppercase;
cursor: pointer;
font-size: 11px;
text-align: center;
overflow: hidden;
}



.support_buttons a span{
padding: 25px 0 0 0;
display: block;
height: 0px;
overflow: hidden;
}

.support span{
background: url(/images/sprites.png) 9px -354px no-repeat;
}


.oppose span{
background: url(/images/sprites.png) 9px -391px no-repeat;
}






/*///////////////////////////

~ Sort

///////////////////////////*/


.sort{
float: right;
margin: 6px 0 0 0;
padding: 0px;
position: relative;
}



.sort .sort_label{
float: left;
padding: 6px 10px 0;
}


.sort .arrow{
float: left;
border-left: 1px solid #bbb;
height: 25px;
width: 25px;
background: url(/images/sprites.png) -3px -312px no-repeat;
}


.sort:hover{
-moz-border-radius-bottomleft: 0px;
-moz-border-radius-bottomright: 0px;
cursor: pointer;
}


.sort:hover .arrow{
-moz-border-radius-topright: 3px;
background: #fff url(/images/sprites.png) -3px -312px no-repeat;
}

.sort ul{
display: none;
position: absolute;
float: right;
margin: 6px 0 0 0;
padding: 0px;

left: -1px;
top: 19px;
width: 121px;

}


.sort ul li a{
display: block;
border-bottom: 1px solid #ddd;
padding: 10px;
}

.sort .sort_label{
font-weight: normal !important;
}


.sort ul li a:hover{
background: -moz-linear-gradient(top,  #fff,  #efefef); /* for firefox 3.6+ */
}

.sort ul li a strong{
font-weight: bold;
}






