

.people.index .intro{
padding-right: 250px;
background: #fff url(/images/intros/people.gif) right center no-repeat;
}


/*///////////////////////////

~ People Main Page

///////////////////////////*/


.lined li.person{
  margin: 0 !important;
  overflow: auto;
  padding: 0px !important;
  }

.lined li.person a{
  display: block;
  height: 68px;
  padding: 10px 0 !important;
  }

.lined li.person a:hover{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#f7fbfb'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7fbfb)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #f7fbfb); /* for firefox 3.6+ */
  
  }

.lined li.person a:hover .small_thumbnail{
  background: -moz-linear-gradient(top,  #f7fbfb,  #c5e4ea); /* for firefox 3.6+ */
  }


.lined li.person a .small_thumbnail {
  float:left;
  padding: 2px;
  margin-right: 20px;
  box-shadow: 0 1px 1px #999;
  -moz-box-shadow: 0 1px 1px #666;
  -webkit-box-shadow: 0 1px 1px #999;
  
  overflow: hidden !important;
  
  border-radius: 4px;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 4px;
  
  background: -moz-linear-gradient(top,  #fff,  #eee); /* for firefox 3.6+ */
  }


.lined li.person a .small_thumbnail img{
  display: block;
  height: 60px;
  width: 50px; 
  border: 1px solid #fff;
  }


.lined li.person a span.person_name{
  display: block;
  margin: 15px 0 5px;
  font-size: 20px;
  }


.lined li.person a .person_district,
.lined li.person a .person_party {
  display: inline;
  }


.lined li.person a .person_citations,
.lined li.person a .person_views{


  }


.lined li.person a .person_views{
margin-top: 18px;
}


