/* Styles for sharing buttons */

ul.share {
  list-style: none !important;
}

ul.share li{
  display: block;
  float: left;
  clear: none;
}

ul.share li a{ 
  width: 27px !important;
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 27px !important;
  float: left !important;
}

.share .facebook a{
  background:url('/images/share.png') no-repeat left top;
}

.share .facebook a:hover{
  background:url('/images/share.png') no-repeat left -30px;
}

.share .twitter {
margin: 0 !important;
}

.share .twitter a{
background:url('/images/share.png') no-repeat -30px top;
margin: 0 !important;
}

.share .twitter a:hover{
  background:url('/images/share.png') no-repeat -30px -30px;
}


.share .reddit a{
  background:url('/images/share.png') no-repeat -305px top;
}

.share .reddit a:hover{
  background:url('/images/share.png') no-repeat -305px -30px;
}

.share .digg a{
  background:url('/images/share.png') no-repeat -90px top;
}

.share .digg a:hover{
  background:url('/images/share.png') no-repeat -90px -30px;
}

.share .buzz a{
  background:url('/images/share.png') no-repeat -211px top;
}

.share .buzz a:hover{
  background:url('/images/share.png') no-repeat -211px -30px;
}

.share .linkedin a{
  background:url('/images/share.png') no-repeat -273px top;
}

.share .linkedin a:hover{
  background:url('/images/share.png') no-repeat -273px -30px;
}

.share .delicious a{
  background:url('/images/share.png') no-repeat -119px top;
}

.share .delicious a:hover{
  background:url('/images/share.png') no-repeat -119px -30px;
}


.share .stumble a{
  background:url('/images/share.png') no-repeat -150px top;
}

.share .stumble a:hover{
  background:url('/images/share.png') no-repeat -150px -30px;
}
