
a{
color: #215357 !important;
}




/* typography.css */

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.01em; 
  font-family: "Droid Sans", Arial; 
  font-weight:normal;color:#111;
  }


h1 {
font-family: "Droid Sans", Arial; 
font-size: 23px;
margin: 0;
padding: 30px 0;  
position: relative;

}

h1 a{color: #333; text-decoration: none; font-weight: bold;}


h2 {
margin:0 0 10px;
font-size: 16px;
line-height:1.3em;
 padding: 10px 0;
color: #36676f;
font-weight: bold;
text-transform: uppercase;
 clear: both; 
border-bottom: 1px solid #d1dddd;
}


h2 span {font-size:.6em;display: block;}


h3 {
padding: 0px 0 10px;
border-bottom: 1px solid #d5e1ee;
font-size:14px;
line-height:1em;
margin: 0 0 10px; 
width: 100%; 
float: left; 
font-weight: bold;
}



h4 {
font-size:12px;
line-height:1.25;
margin: 0 0 10px; 
color: #333; 
font-weight: bold;
float: left; 
width: 100%;
}


h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#008;text-decoration:underline;}
a {color:#009;text-decoration:none;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0px;}
ul {list-style-type:none;}
ul li{clear: both; line-height: 1.7em;list-style:none !important;} li{clear: both; line-height: 1.7em;list-style:none !important;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}

tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
