
.vote_results div{
  display: inline;
  padding-right: 20px;
}

/* Full Roll Call */
.roll_call caption {
  background: transparent;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
}

.roll_call th {
  font-weight: normal;
  padding-bottom: 3px;
  padding-top: 5px;
}

.roll_call td {
  padding: 3px 5px 3px 0;
}

/* Make room for the party icon */
.roll_call td.person {
  padding-left: 14px !important;
  font-size: 12px;
}

/* showing vote color boxes */
.roll_call .vote_dem_yes {
  background: url(/images/votes/dem-yes-box.gif) no-repeat 0% 50%;
}
.roll_call .vote_dem_no {
  background: url(/images/votes/dem-no-box.gif) no-repeat 0% 50%;
}
.roll_call .vote_dem_other {
  background: url(/images/votes/dem-other-box.gif) no-repeat 0% 50%;
}

.roll_call .vote_rep_yes {
  background: url(/images/votes/rep-yes-box.gif) no-repeat 0% 50%;
}
.roll_call .vote_rep_other {
  background: url(/images/votes/rep-other-box.gif) no-repeat 0% 50%;
}
.roll_call .vote_rep_no {
  background: url(/images/votes/rep-no-box.gif) no-repeat 0% 50%;
}

.roll_call .vote_ind_yes {
  background: url(/images/votes/ind-yes-box.gif) no-repeat 0% 50%;
}
.roll_call .vote_ind_no {
  background: url(/images/votes/ind-no-box.gif) no-repeat 0% 50%;
}
.roll_call .vote_ind_other {
  background: url(/images/votes/ind-other-box.gif) no-repeat 0% 50%;
}

/* Vote summary -- shared/_vote */
.vote-summary {
  display: block;
  float: left;
  width: 700px;
}

.vote-summary h4 {
  line-height: 16px;
  margin: 0;
}

.vote-summary .bill_title {
  font-size: 11px;
  line-height: 15px;
}

.vote-summary-line {
  font-size: 10px;
  line-height: 14px;
  color: #888888;
}

td.vote-passed span, td.vote-failed span {
  border: 3px solid #333 !important;
}


th.vote-motion{
width: 490px;
}


th.vote-votes{
width: 80px;
}


td.vote-bar {
  width: 150px;
  padding-top: 0;
}

td.vote-needed-bar {
  width: 50px;
  padding-top: 0;
  padding-bottom: 0;
vertical-align: bottom;
}

.vote-yes-block, .vote-no-block, .vote-other-block {
  display: block;
  float: left;
}


td.votes{
vertical-align: middle;

}



.votes span.total-votes{
background: #fff;
padding: 2px 5px;
border: 3px solid #fff; 
}


.votes span.other-votes{
background: #ccc;
padding: 2px 5px;
border: 3px solid #ccc; 
}


.votes span.vote-yes{
background: #b6ddb3;
padding: 2px 5px;
border: 3px solid #b6ddb3; 
}

.votes span.vote-no{
background: #ddb3b3;
padding: 2px 5px;
border: 3px solid #ddb3b3; 
}




.vote-needed {
  display: block;
padding: 0 !important;
  line-height: 10px;
  border-right: 2px solid #666;

}

.vote-bar .vote-yes-block {
background: #b6ddb3;
-moz-border-radius-topleft: 8px;
-moz-border-radius-bottomleft: 8px;
}

.vote-bar .vote-no-block {
background: #ddb3b3;

}

.vote-bar .vote-other-block {
-moz-border-radius-topright: 8px;
-moz-border-radius-bottomright: 8px;
background: #ccc;
}


/* Big vote chart -- votes/show */
.vote_chart table {
  width: 450px;
}

.vote_chart table td.vote_chart {
  width: 300px; /* See votes_helper full-size chart width */
}

.vote_chart table caption {
  background: transparent;
  font-size: 10px;
}

.vote_chart table td,
.vote_chart table th {
  height: 24px;
  vertical-align: middle;
  text-align: right;
  line-height: 24px;
  padding: 0;
  border: 0;
}

.vote_chart table td.first,
.vote_chart table th.first
{
  padding-top: 26px !important;
}

.vote_chart table td.last,
.vote_chart table th.last {
  padding-bottom: 9px !important;
}

.vote_chart table .label {
  padding-right: 2px;
  font-size: 16px;
  font-weight: bold;
}

