html {font-size:100.01%;}



body{
  margin: 0;
  padding: 20px 0 40px;
  background: url(/images/bg.gif);
  font-size:12px;
  color:#222;
line-height: 1.3em;
  font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
  }

article, 
aside, 
dialog, 
figure, 
footer, 
header,
hgroup, 
menu, 
nav, 
section { display: block; }



button::-moz-focus-inner, input::-moz-focus-inner { border: 0; }


hr {
border:none;
border-top: 1px solid #fff;

border-bottom: 2px solid #d1dddd;
color:#ddd;
clear:both;
float:none;
margin: 0;
width:100%;
height: 1px;
}

hr.push_bottom {
margin: 0 0 10px;
}


hr.push_top {
padding: 30px 0 0px;
}



hr.space {background:#fff;color:#fff;visibility:hidden;}

header{
margin: 0 10px !important;
}

ul.lined{
margin: 0;
padding:0;
}

ul.lined li{
border-bottom: 1px solid #eee;
margin: 0 0 5px;
padding: 0px 0 5px;
line-height: 1.4em;

}
ul.lined li:first-letter{
text-transform: uppercase;
}

ul.lined.and_spaced li{
padding-bottom: 10px;
margin-bottom: 10px;

}

ul.lined.and_spaced.with_titles li a{
display: block;
margin-bottom: 5px;
font-weight: bold;
}


/*////////////////////////////////////////////////////

Tables

////////////////////////////////////////////////////*/

table{
width: 100%;
}


thead th{
text-align: left;
}


th{
padding: 0px 0px 10px 0px;
border-bottom: 1px solid #ddd;
text-align: left;
}


td{
min-width: 70px;
padding: 10px 0;
vertical-align: top;
}


table, td, th, tr{
margin: 0;
}




