%hr.grid-16
  - if @bills.empty?
    %p Sorry, no bills matched.
  - else
    %nav.grid_4#left_nav
      %p.filter
        %h3 Session:
        %ul.session_filter
          - @state.legislature.sessions.each do |s|
            %li
              = link_to s.name, state_search_path(params.merge({ :session_id => s.id }))
      %p.sort
        %h3 Sort by:
        %ul.bills
          - Bill::SORTABLE_BY.each do |name, column|
            %li
              = link_to name, state_search_path(params.merge({:order => column}))

    .grid_12
      %h2 Bills

      %div.search_results
        %ul.bills.bills.lined.and_spaced
          - @bills.each do |bill|
            = render :partial => 'shared/bill', :locals => {:bill => bill}
        = will_paginate @bills, :class => "pagination"
