- if @committees.empty?
  %p Sorry, no committees matched.
- else
  %nav#sort
    %p.filter
      Chamber:
      %ul.chamber_filter
        - ["upper", "lower", "joint"].each do |type|
          %li
            = link_to type, state_search_path(params.merge({ :committee_type => type }))

  .search_results
    %ul.committees
      - @committees.each do |committee|
        %li[committee]
          != link_to(committee.name, "committees/#{committee.id}", :class => 'modal')

    = will_paginate @committees
