- if @committees.empty?
  %p Sorry, no committees matched.
- else
  %nav#sort
    %p.filter
      Chamber:
      %ul.chamber_filter
        - ["upper", "lower", "joint"].each do |type|
          %li
            = link_to type, state_search_path(params.merge({ :committee_type => type }))
    %p.sort
      Sort by:
      %ul
        - Committee::SORTABLE_BY.each do |name, column|
          %li
            = link_to name, state_search_path(params.merge({:order => column}))

  .search_results
    %ul.committees
      - @committees.each do |committee|
        %li[committee]
          != link_to(committee.name, committee_path(committee), :class => 'modal')

    = will_paginate @committees
