%hr.grid_16
  - if @legislators.empty?
    %p Sorry, no legislators matched.
  - else
    %nav.grid_4#left_nav
      %h3 Sort by
      %ul
        - Person::SORTABLE_BY.each do |name, column|
          %li
            = link_to name, state_search_path(params.merge({:order => column}))

    %div.search_results.grid_12
      %h2= link_to('People', people_path)
      %ul.legislators.lined
        = render @legislators

      = will_paginate @legislators


