- if @legislators.blank?
  %p Sorry, no legislators matched.
- else
  %nav#sort
    %h3 Sort by
    %ul
      - Person::SORTABLE_BY.each do |name, column|
        %li
          = link_to name, state_search_path(params.merge({:order => column}))

  .search_results
    %h2= link_to('People', people_path)
    %ul.legislators.lined
      = render @legislators
  = paginate @legislators
