%h2
  = @state.name

%h4 Bills

%p
  - if @state.bills.blank?
    = "Sorry, we found no bills."
  - else
    - @state.bills.each do |bill|
      %div
        = link_to(bill.title, state_bill_path(@state, bill))

