- title("Sorry, #{@state.name} isn't ready yet!")

.grid_4.sign
  %h3 Be Notified 
  %p Get updates as we roll out OpenGovernment - #{@state.name}
  %p
    %form(action="http://crm.ppolitics.org/civicrm/profile/create&amp;gid=10&amp;reset=1" method="post" name="Edit" id="Edit")
      %input(name="postURL" type="hidden" value="")
      %input(name="cancelURL" type="hidden" value="http://crm.ppolitics.org/civicrm/profile?reset=1&amp;gid=10")
      %input(name="add_to_group" type="hidden" value="3")
      %input(name="_qf_default" type="hidden" value="Edit:cancel")
      %label(for="email-Primary")
        Email
        %span(class="crm-marker" title="This field is required.")*
      %input(maxlength="64" size="20" name="email-Primary" type="text" id="email-Primary" class="field form-text big required")
      %label(for="postal_code-Primary") Postal Code
      %input(maxlength="12" size="12" name="postal_code-Primary" type="text" id="postal_code-Primary" class="form-text twelve field")
      %input(class="form-submit button medium default" accesskey="S" name="_qf_Edit_next" value="Be Notified" type="submit" id="_qf_Edit_next")


.grid_12
  %h1 Hi there - OpenGovernment for #{@state.name} is still in development. 

  %p OpenGovernment is a free and open-source website for government transparency at any level: state, city, local, and more. We're a non-partisan public resource based on OpenCongress.org, the most-visited not-for-profit website for tracking the U.S. Congress.
  .venn
  %p Currently, this beta version of OpenGovernment has information for five state legislatures: California, Louisiana, Maryland, Texas, and Wisconsin. We seek non-profit funding support to roll out versions of OpenGovernment for the remaining 45 U.S. state legislatures and beyond over the course of 2011. 
  
  %p Want to bring OpenGovernment to #{@state.name} and your city, and make this free resource even better?  <strong>Fund our public-mission work!</strong>

  %p <strong>Charitable foundations and philanthropists</strong>: we are actively seeking funding partners to continue to develop OpenGovernment. Our limiting factor is not ideas, or a lack of valuable government information to make accessible, but rather funding for open-source web development. Please download and share our <a href="<%= image_path 'OpenGovernment_prospectus_1-18-10.pdf' %>">non-profit funding prospectus</a> (file is in .pdf). <a href="/pages/contact">Contact us</a> for more information and to start a conversation about how our vision of civic engagement through open-source software can support your program areas. 

  %p Individuals and issue-based organizations: <a href="http://participatorypolitics.org/" target="_blank">PPF</a>, which operates OpenGovernment, is a small 501(c)3 non-profit organization (the equivalent of just four full-time folks, plus volunteer help). We rely on small contributions just to keep this beta version up and running. If you value ever-greater transparency in government and like what you see so far, please support our work by making a tax-exempt donation: <a href="http://www.opencongress.org/donate" target="_blank">donate on OpenCongress</a>.

  %p If you're a strong believer in our mission, sign up to be an <a href="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php?oc_action=donate&pp=paypal&amount=31&recur=2&groups=PPF+News:PPF+Booster&receipt=45" target="_blank">PPF Booster</a> (link directs to PayPal). PPF Boosters are members who contribute one dollar per day to support our free, libre, and open-source web development. Once we reach at least 100 Boosters per month, we can contract with a professional non-profit fundraiser to raise more money to hire more programmers to liberate more government data on the open Web. Increased revenue will help us add useful new data sources, unique site features for peer-to-peer organizing, and best of all, scale up our ability to bring fully-grown versions of OpenGovernment to your state and city. 
    
  %p There's a lot of work yet to do to make state legislatures truly open and accountable. With this early version of OpenGovernment, we now have a good start in applying our proven model of transparency to every level government. This transparency, in turn, can restore public trust in our representative democracy and increase civic engagement in our communities. Just as OpenCongress has emerged as a leading resource for transparency in the U.S. Congress, so can OpenGovernment facilitate citizen watchdogging and responsive government in state legislatures and city councils. We're working to put government at your fingertips. 
  
  %p Read more <a href="/pages/about">about us</a>, our <a href="/pages/about/#our_data_sources"> our data sources</a>, and the many <a href="/pages/help">ways you can help</a> bring OpenGovernment to your state. Or, visit our <a href="/home">homepage</a> to see the information we bring together for our five states in this beta version and our uniquely user-friendly web design. 
  
  %p OpenGovernment is a joint project of two 501(c)3 non-profit organizations, the <a href="http://www.participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>, and we have big plans. In keeping with the principles of transparency and accessibility, we invite you to </strong><a href="/pages/contact">contact us</a></strong> and let us know what you think. 
    
  <!--  %p Second, in order to bring OpenGovernment to your state and local government, we need access to data that is currently closed-off from the public. You can help by contacting your members of government (e.g., your governor and state legislators) with a message along the lines of the below: 

  %blockquote
    %q As a constituent, I want my state government to be transparent and accountable. The necessary first step towards transparency is open government data: making legislative information more accessible, as outlined in the <a href="http://resource.org/8_principles.html">Eight Principles of Open Government Data</a>. Then, in the future, I'll be able to track and share what's happening in our state government on free and open-source websites like OpenGovernment.org and others. 
    
  %p At this point, you might reasonably be asking yourself, "why are those five states currently available on OG, and why isn't my state ready yet?" Well, unfortunately, almost none of the U.S. state governments make their data truly accessible. Sure, state legislatures have an assortment of official websites, some more sophisticated than others, but the data that drives them isn't available in ways that are compliant with the community-generated <a href="http://www.opengovdata.org/" target="_blank">Eight Principles of Open Government Data</a>. Even if the data were available, we've already seen that the websites created by government are decidedly un-user-friendly... when was the last time you saw a really good overview of what's happening in your state government? 

  %p Actually, the situation is almost exactly same as it was with the U.S. Congress circa 2004, when the official government website (<a href="http://thomas.loc.gov/" target="_blank">THOMAS</a>, as it's called) was demonstrably insufficient to the public's needs, so independent remixes like GovTrack and OpenCongress arose to serve the need for engaging with Congress. In the same way, our non-profit organizations (<a href="http://www.participatorypolitics.org/">PPF</a> and <a href="http://sunlightfoundation.com/">Sunlight</a>) had to do a lot of technical work just to get basic government data into the more-or-less workable shape you see here on this preview version of OpenGovernment, and that's just for the legislatures of five states (CA, LA, MD, TX, and WI). We think the wider public should be more concerned that our elected officials and government agencies are so insistently behind-the-times in basic standards of transparency and technology... it's going to take civic-minded efforts from people like you to force your government to be open and accountable. 

  %p ... and that's just for the legislative branch of state governments! The same principles of transparency and openness apply to the other two major branches of government (Executive and Judicial) at every level: county, city, town, local, and more. There ought to be a version of OpenGovernment that covers all of your elected officials in our representative democracy. Public data can and should be available to the public, immediately and in full. This is our demand, and we hope you join our community-driven campaign to liberate your data by signing up for our email list at left. Our ultimate goal is to provide you with full information about all actions by your elected officials at every level of government. That's where we're headed. There's a lot of work yet to do. 

  / It might help to know: our non-profit organizations and a dedicated team of volunteers had to do a lot of work just to get basic government data into the more-or-less intelligible shape you see here, and that's just for the legislatures of five states (CA, LA, MD, TX, and WI). This doesn't yet include important public data from the other two branches of government: Executive, such as state budgets and agency expenditures; and Judicial, such as laws and statutes. What's more, this doesn't yet include a host of other data that the government should provide in open standards, but doesn't: the full text of legislation, video of legislative sessions and committee hearings, campaign contribution information and financial disclosure forms, and more. What's even more on top of that, this doesn't yet include a whole world of other data that would be useful to people in connecting with their government, but is beyond our current resources to gather: social media accounts for elected officials; issue group scorecards with ratings for important bills and key votes; analysis of the role of money-in-politics; easy-to-understand primers on how state governments work and how laws are passed in each of the 50 U.S. states; and more. And that's all just for state governments! The same principles of transparency and openness apply for government at the county, city, town, and most-local level. There ought to be a version of OpenCongress for your city and neighborhood... or to put it another way, OpenGovernment should encompass all your elected officials in our representative democracy, along with (if applicable in your state) your ability to exercise direct democracy in casting votes on amendments and more. That's where we're headed. There's a lot of work yet to do.--> 
  
  