- title(t('.state_money_trail', :state_name => @state.name))

%h1
  = t('.state_money_trail', :state_name => @state.name)

.intro
  %div
  %p= t '.intro'


.grid_6.alpha
  = render :partial => 'industry', :collection => @industries[0...@industries.size/2]

.grid_6.omega
  = render :partial => 'industry', :collection => @industries[@industries.size/2..@industries.size]
