.find_form
  = form_tag(url_for(:controller => 'districts', :action => 'search', :subdomain => false), :method => :get, :id => 'find_my_rep')
  %label(for='q')
    %strong Find Your District
    Enter address or ZIP
  = text_field_tag :q, params[:q], :autocomplete => 'off'
  .find_button
    = submit_tag 'Find'
  </form>
- unless defined?(narrow)
  .auto_find
    = link_to 'Auto-Find My Current Location', 'javascript:findMe();'
.finding(style='display: none;')

:javascript  
  if (navigator.geolocation) {
    function findMe() {
        $('.finding').show();
        navigator.geolocation.getCurrentPosition(fillForm);
    }

    function fillForm(position) {
      $('.finding').hide();
      $('#find_my_rep').find('#q').val(position.coords.latitude + ', ' + position.coords.longitude);
      $('#find_my_rep').submit();
    }

    var mouse_on_q = false;
    $(document).ready(function(){ 
      $('#find_my_rep').find('input#q').focus(function() {
        $('.auto_find').show();
        mouse_on_q = true;
      });

      $('#find_my_rep').find('input#q').blur(function() {
        mouse_on_q = false;
      });
    
      $('.auto_find').hover(function() {
        mouse_on_q = true;
      }, function() {
        mouse_on_q = false;
      });

      // Close the menu when someone clicks outside of it.
      $('body').mouseup(function(){ 
          if(! mouse_on_q) {
            $('.auto_find').hide();
          }
      });

    });
  }
.div.clearfix