.full_lined
  .find_form
    = form_tag(url_for(:controller => 'districts', :action => 'search', :subdomain => false), :method => :get) do
      %label(for="q") Enter your Address or Zip Code to find your districts
      = text_field_tag :q, params[:q]
      = submit_tag "Find"
  .auto_find
    = link_to "Automatically Find My Location", "javascript:findMe();"
    :javascript
      function findMe() {
        navigator.geolocation.getCurrentPosition(fillForm);
      }

      function fillForm(position) {
        $('#q').val(position.coords.latitude + ', ' + position.coords.longitude);
      }
