= form_tag state_search_path, :method => :get, :class => 'state_search_form'

= text_field_tag :q, params[:q], :class => 'field cap'
= submit_tag "Search", :class => 'button medium cap'
</form>

-# Disallow searching for nothing.
:javascript
  $('.state_search_form').click(function () {
    if ($(this).find('#q').val() == '') {
        return false;
    }
  });