= form_tag state_search_path, :method => :get, :class => 'state_search_form'


= text_field_tag :q, params[:q], :class => 'field', :placeholder => "Search #{current_place_name}"

</form>

-# Disallow searching for nothing.
:javascript
  $('.state_search_form').click(function () {
    if ($(this).find('#q').val() == '') {
        return false;
    }
  });