%span.views
  - today = Date.today
  = page.views
  total views&nbsp;&nbsp;
  = page.views(today.beginning_of_week)
  in the last 7 days&nbsp;&nbsp;
  = page.views(today.beginning_of_month)
  in the last month.
