@import "base";


.long_bill_title {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.show .bills h1{
  padding-top: 10px;
}

.bills .subject_areas {
  /*  margin-bottom: 0; */
  padding: 0;
  margin: 0px 0 0 0;
}

.key_vote_action {
  display: block;
}

.bills .subject_areas li {
  display: inline-block;
  padding: 0 3px 5px 0;
  line-height: 16px;
}

.bills .subject_areas li a {
  font-size: 10px;
  text-decoration: none;
  border: 1px solid #ddd;
  background: #efefef;
  color: #444;
  font-weight: bold;
  opacity: .9;
  padding: 2px 6px;
  @include border-radius(3px);
}

.bills .subject_areas li a:hover {
opacity: 1;
}


.bills .intro p{
  padding-right: 250px;
}


.bills .intro div{
  width: 200px;
  height: 300px;
  background: url(../images/intros/bills.png) 0px 0px no-repeat;
}

.bill_actions{
  margin-bottom: 30px;
}

.bill_actions td{
  border-bottom: 1px solid #eee;
}


/*///////////////////////////

~ Bills

///////////////////////////*/


/*/////////////  - Status Bar -  //////////////*/

.status_bar{
  border: 1px solid #ddd;
  border-top: 1px solid #eee;
  clear: none;
  position: relative;
  @include border-radius(3px);
  @include background-image(linear-gradient(white, #efefef));
  margin-top: 0px;
  }


.status_bar li{
  clear: none;
  padding: 4px 0 4px 15px;
  }


.status_bar a{
  display: block;
  height: 24px;
  color: #111;
  padding: 4px 15px 1px 15px;
  font-size: 11px;
  text-decoration: none;
  background: url(../images/status_right.png) right -2px no-repeat;
}

.law{
  float: right;
  position: absolute;
  right: -1px;
  top: -6px;
  color: #eee;
  border: 1px solid #eee;
  padding: 10px 4px !important;
  background: #fff;
  font-size: 11px;
  text-transform: uppercase;
  @include border-radius(2px);
}


.is_law .law{
  color: #999;
  border: 1px solid #aaa;
}


.session{
  float: right;
  margin-top: 10px;
  width: 124px !important;
}


/*/////////////  - Listings -  //////////////*/

#bills ul li:hover a{ text-decoration: underline;}

.bill_title{
  font-size: 14px;
  color: #444;
  line-height: 1.3em;
}

.bill_link {
  padding-right: 5px;
  font-weight: bold;
}

.bill_summary,
.committee_summary,
.person_summary {
  padding-bottom: 10px;
  margin-bottom: 10px;
  a.title {
    padding-right: 5px;
    font-weight: bold;
  }
}

.bill_status {
  font-size: 11px;
  color: #666;
  margin-top: 15px;
  background: #f3f7f7;
  margin-left: 10px;
  float: left;
  width: 400px;
  -moz-box-shadow: 0 1px 0px white, inset 0 1px 0px #eeeeee;
  -webkit-box-shadow: 0 1px 0px white, inset 0 1px 0px #eeeeee;
  -o-box-shadow: 0 1px 0px white, inset 0 1px 0px #eeeeee;
  box-shadow: 0 1px 0px white, inset 0 1px 0px #eeeeee;
}

.bill_status div {
  padding: 0px 0 5px;
}

.bill_status div.top {
  padding: 5px 0 0px;
}


#bill_documents {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 335px;
  }

ul.bill_documents {
  width: 300px;
  padding: 0 !important;
  margin-bottom: 0;
  }



.sponsor_preview h2, .document_preview h2, .committee_preview h2 {
  display: inline-block;
  }

 .people_news_preview h3 {
   display: inline;
   float: none;
 }

a.see_all {
  padding-left: 5px;
  display: inline;
}

.people_header {
  display: inline;
}


li.mention {
  a{
    padding-top: 5px;
    font-size: 13px;
    display: block;
    line-height: 1.3em;
  }

  .date{
    font-size: 10px;
    color: #666;
    float: right;
  }

  .excerpt{
    padding-top: 10px;
    font-size: 11px;
    color: #333;
    float: right;
    line-height: 1.5em;
  }

  .source{
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 10px;
    color: #888;
    float: right;
    line-height: 1.5em;
  }
}

/* Adjust mentions ul for the people profile page */
ul.lined li.mention .excerpt, ul.lined li.mention .date, ul.lined li.mention .source {
  float: none;
}

ul.lined li.mention .source {
  padding-bottom: 0;
}

.action_status {
  padding: 10px 0;
}

.action_date {
  float: left;
  padding: 20px 20px 0 0;
}

p.action_text {
  font-size: 20px;
  padding: 20px 0;
}





/*///////////////////////////////////////////////////

~ Bill List

///////////////////////////////////////////////////*/

#bill_list li{
  border-bottom: 1px solid #f8f8f8;
  padding: 0 0 10px !important;
  margin: 0 0 20px !important;
}


.bill_titles {
  @include grid(4);
  @include alpha;
  margin-bottom: 4px;

  a{
    font-size: 14px;
    float: left;
    padding-top: 1px;
    line-height: 1.3em;
  }

  .view_count{
    font-size: 11px;
    float: left;
    opacity: .5;
    padding-top: 2px;
    color: #222;
    padding-left: 30px;
    background: url(../images/sprites.png) 10px -173px no-repeat;
  }

  span{
    display: block;
    font-size: 12px;
    clear: both;
    line-height: 1.4em;
    padding: 2px 10px 4px 0;
    color: #777;
  }
}

.small_date{
  font-size: 11px;
  font-weight: bold;
  color: #a9a9a9;
  display: block;
  line-height: 1.4em;
}


.small_label{
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: .06em;
  display: block;
  color: #a9a9a9;
}



.introduced .small_date,
.introduced .small_label{
text-align: left;
}

.stats div{
float: left;
margin-top: 3px;
padding: 0 0px 0 15px;
border-right: 1px solid #f8f8f8;
}

.stats div.introduced{
  padding-left: 0;
}


.bill-mugs {
  margin: 0px 0 20px 0px;
  width: 315px;
  padding: 0;
  float: left;

  .sponsor_mugs,
  .sponsor_preview,
  .lined {
    margin: 0px !important;
    padding: 0;
  }


  .sponsor_mugs{
    float: left;
  }
}

li .sponsor_mugs {
  font-size: 11px;
  line-height: 4em;
  color: #aaa;
}


.bill-mugs {
  .lined{
    margin: 0px !important;
    float: left;
    padding: 19px 20px 0 0; 
  }

  .lined li{
    display: inline;
    border: 0;
    font-size: 11px;
  }

  .modal{
    padding: 19px 0 0 0px !important;
    float: left;
  }
}

/* override sponsors .lined */
.popup.sponsors .lined {
  @include box-shadow(none);
}

.popup.sponsors .lined li {
  padding: 5px 0 5px 0;
}

.bills .sponsor_mugs img {
  display: block;
  padding-top: 3px;
  font-size: 10px;
  color: #666;
  clear: both;
}

.stats {
  div.recent_vote{
    border-right: none;
    padding-right: 8px;
  }

  div.session{
    border-right: none;
    border-left: 1px solid #f8f8f8;
  }
}

.sponsor_mugs {
  float: left;
  padding: 5px 0 5px 0px;
}


.sponsor-meta {
  display: block;
  color: #999;
  clear: both;
  float: left;
  width: 180px;
  clear: none;

  a{
    padding-right: 5px;
  }
}

.bills.index .sponsor_mugs{
min-width: 260px;
}

.sponsor_mugs span.person-photo {
  clear: both !important;
  float: left !important;
  border: 1px solid !important;
  font-size: 12px;
  padding-top: 9px !important;
}


.bills.show .sponsor_mugs li{
  float: left;
}



.sponsor_mugs .photo,
.bill.grid_12 .sponsor_mugs .sponsor_mug,
.states.show .sponsor_mugs .sponsor_mug {
  padding: 1px !important;
  margin: 0 15px 0px 0px;

  float: left;
  overflow: hidden !important;

  @include border-radius(3px);
  


  -webkit-transition: all .6s ease-in-out; 
  
  @include gray-button;
  
  
  
}


.states.show .sponsor_mugs .sponsor_mug{
  margin-bottom: 15px;
}


.sponsor_mugs img{
  border: 1px solid #fff;
  display: block;
  margin-bottom: 2px;
  background: url(../images/man.png) center no-repeat;
}

.bills.show .sponsor_mugs li{
  font-size: 13px;
  margin-bottom: 10px;
}

.long-title{
  display: block;
}

.sponsor_preview .sponsor_mugs, .document_preview .documents {
  padding: 0;
  }

.people_news_preview ul.people_mugs {
  padding-top: 7px;
}


.sponsor-name{
  padding-top: 7px;
}

.bill-title{
  font-size: 14px;
  display: block;
  line-height: 1.4em !important;
  padding: 5px 0 0 0;
}



.bill-intro {
  margin: 0 -15px 30px -34px;
  padding: 10px 25px 35px 36px;  
  position: relative;
  line-height: 1.2em; 
  
  @include light-blue-gradient;

  border-bottom: 1px solid rgba(67, 67, 67, .2);

  .views{
    margin-right: 10px;
    float: left;
    margin-top: 3px;
    clear: none;
    padding-right: 15px;
  }


  p{
    clear: both;
    margin-bottom: 0;
  }

  p:first-letter{
    text-transform: uppercase;
  }

  h1 {
    background: 0;
    border: 0;
    padding-top: 0;
    padding-left: 31px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    float: left;
  }
}


.documents .thumbnail {
  float: left;
  margin-right: 15px;
  width: 90px;
height: 116px;
}

#people_mentions{
@include grid(4);
}


#popular_bills{
@include grid(4);
@include alpha;
}


#hot_issues{
@include grid(4);
@include omega;
}

