@import "base";

/*///////////////////////////

~ NAv

///////////////////////////*/

#left_nav {
margin-left: -21px;
width: 226px;
overflow: hidden;
letter-spacing: .03em;
position: relative;
}

#left_nav ul {
margin: 0 !important;
}

#left_nav ul li {
margin: 0;
padding: 0 !important;
background: -webkit-gradient(linear, left top, left bottom, from(#ecf4f5), to(#e2ecee));
background: -moz-linear-gradient(top,  #ecf4f5,  #e2ecee);
-moz-box-shadow: inset 0 1px 0px #f4f9f9;
border-bottom: 1px solid #c7d8da;
}


#left_nav ul li ul li{
border: none !important;
}



#left_nav ul li:hover {
-moz-box-shadow: inset 0 1px 0px #fff;
-webkit-box-shadow: inset 0 1px 0px #fff;
box-shadow: inset 0 1px 0px #fff;

}


#left_nav ul li.primary-nav a {
background-image: url(../images/sidebar_icons.png);
background-repeat: no-repeat;
padding-left: 42px;
}

#left_nav ul li a {
margin: 0;
padding: 12px 0px 12px 25px;
display: block;
text-decoration: none;
font-size: 14px;
}


#left_nav ul li a:hover {

}



#left_nav ul li ul a {
margin: 0;
display: block;
padding: 5px 10px !important;
font-size: 13px;
line-height: 1.3em;
}

#left_nav ul li ul li ul a {
margin: 0;
display: block;
padding: 5px 10px !important;
font-size: 12px;
line-height: 1.3em;
}


#left_nav ul li#overview a {

}


#left_nav ul li#disqus{
border-bottom: 0;
}


#left_nav ul li.selected {
font-weight: bold;
width: 227px;
padding: 0;
margin-bottom: 0 !important;
float: left;
background: #fbfcfd;
background: -webkit-gradient(linear, left top, left bottom, from(#baced1), to(#95b5bb)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #baced1,  #95b5bb);
-moz-box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
-webkit-box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
border-bottom: 1px solid #5c878b;
}




#left_nav ul li#person.person.selected {
border-top: 1px solid #95afb2;
}

#left_nav ul li#bill.bill.selected,
#left_nav ul li#bills.bills.selected  {
border-top: 1px solid #95afb2;

}


#left_nav ul li#person.person.selected a.selected,
#left_nav ul li#person.person.selected a.selected:hover{
background: url(../images/sidebar_icons.png) 30px -39px no-repeat;
}

#left_nav ul ul li#person.person.selected a.selected:hover{
background: url(../images/sidebar_icons.png) 30px -39px no-repeat !important;
}

#left_nav ul li#bill.bill.selected a.selected{
padding-left: 42px;
/* background: url(../images/sidebar_icons.png) 12px -472px no-repeat; */
background-position: 13px 15px;

background: url(../images/sidebar_icons.png) 30px 8px no-repeat;
background: url(../images/sidebar_icons.png) 30px 8px no-repeat;
}


#left_nav ul li.selected a.selected {
text-shadow: 0 1px 0 #cfdddf;
color: #333;
border-bottom: 0 !important;
}    

     
      
#left_nav ul li.selected ul {
font-weight: normal;

margin: 0 !important;
padding: 0 !important;
}



li.discuss {
padding: 8px 0 8px 0px;
/*
background: url(../images/sprites.png) left -444px no-repeat;*/
font-size: 14px;
}



#left_nav ul li ul li {
margin: 0;
padding-right: 0px;
background: none;
}



#left_nav ul li.selected ul li {
background: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
border-bottom: 1px solid #809ea3;
}

#left_nav ul li.selected ul li a {
padding: 8px 0 8px 55px !important;
}


#left_nav ul li.selected ul li ul li a {
margin: 0;
padding: 9px 0 8px 78px !important;
background: none;
text-decoration: none;
width: 186px !important;
text-shadow: 0 1px 0 rgba(255, 255, 255, .5) !important;
color: #000;
opacity: .9;
}



#left_nav ul li.selected ul li ul li a:hover {
-moz-box-shadow: inset 0 1px 0px rgba(255,255,255, .4);
-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255, .4);
opacity: 1;

border: 0 !important;

}


#left_nav ul li.selected ul li.selected {
border-bottom: none !important;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold !important;
text-shadow: 0 1px 0px #fff;
color: #333;
}




#left_nav ul li.selected ul li.selected li.selected  {
-moz-box-shadow: 0 1px 0px #78888a, inset 0 1px 0px #eaf3f5, 0 -1px 0px #809ea3;
-webkit-box-shadow: 0 1px 0px #78888a, inset 0 1px 0px #eaf3f5, 0 -1px 0px #809ea3;
box-shadow: 0 1px 0px #78888a, inset 0 1px 0px #eaf3f5, 0 -1px 0px #809ea3;
background: -webkit-gradient(linear, left top, left bottom, from(#d7e7ea), to(#bfd3d6)); 
background: -moz-linear-gradient(top,  #d7e7ea,  #bfd3d6); 
}


#left_nav ul li.selected ul li.selected li:hover  {
-moz-box-shadow: 0 1px 0px #78888a, inset 0 1px 0px #eaf3f5, 0 -1px 0px #809ea3;
-webkit-box-shadow: 0 1px 0px #78888a, inset 0 1px 0px #eaf3f5, 0 -1px 0px #809ea3;
box-shadow: 0 1px 0px #78888a, inset 0 1px 0px #eaf3f5, 0 -1px 0px #809ea3;
background: -webkit-gradient(linear, left top, left bottom, from(#d7e7ea), to(#bfd3d6)); 
background: -moz-linear-gradient(top,  #d7e7ea,  #bfd3d6); 
}


#left_nav ul li.selected ul li.selected a{
text-shadow: 0 1px 0px #fff;
color: #333;
}


#left_nav ul li ul li.selected a.selected:hover,
#left_nav ul li ul:hover li.selected a {
text-decoration: none;
}

#left_nav ul li ul li.selected a.selected:hover,
#left_nav ul li ul:hover li.selected a {
text-decoration: none;

}


#left_nav ul li ul li.selected a.selected:hover {
text-decoration: none;
-moz-box-shadow: 0 !important;
-webkit-box-shadow: 0 !important;
box-shadow: 0 !important;
}


#left_nav ul li.selected a {

}



#left_nav ul li.primary-nav-bills a {
background-position: 13px 15px;
}


#left_nav ul li.primary-nav-bills a:hover {
background-position: 13px 15px;
background: url(../images/sidebar_icons.png) 13px 15px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2ecee)) !important;
background: url(../images/sidebar_icons.png) 13px 15px no-repeat, -moz-linear-gradient(top,  #fff,  #e2ecee) !important;
-moz-box-shadow: 0 1px 0 rgba(0,0,0, .4) !important;
-webkit-box-shadow: 0 !important;
box-shadow: 0 !important;
}


#left_nav ul li.primary-nav-bills.selected a:hover {
background: url(../images/sidebar_icons.png) 13px 15px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#baced1), to(#95b5bb)) !important; /* for webkit browsers */
background: url(../images/sidebar_icons.png) 13px 15px no-repeat, -moz-linear-gradient(top,  #baced1,  #95b5bb) !important;
-moz-box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
-webkit-box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
border-bottom: 1px solid #5c878b;
}


#left_nav ul li.primary-nav-people a {
background-position: 13px -33px
}



#left_nav ul li.primary-nav-people.selected a:hover {
background: url(../images/sidebar_icons.png) 13px -33px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#baced1), to(#95b5bb)) !important; /* for webkit browsers */
background: url(../images/sidebar_icons.png) 13px -33px no-repeat, -moz-linear-gradient(top,  #baced1,  #95b5bb) !important;
-moz-box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
-webkit-box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
box-shadow: inset 0 1px 0px #d2dfe1, 0 -1px 0px #95afb2;
border-bottom: 1px solid #5c878b;
}



#left_nav ul li.primary-nav-issues a {
background-position: 12px -79px
}

#left_nav ul li.primary-nav-money_trail a {
background-position: 12px -126px
}


#left_nav ul li.primary-nav-people a:hover{
background: url(../images/sidebar_icons.png) 13px -33px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2ecee)) !important;
background: url(../images/sidebar_icons.png) 13px -33px no-repeat, -moz-linear-gradient(top,  #fff,  #e2ecee) !important;
}

#left_nav ul li.primary-nav-issues a:hover{
background: url(../images/sidebar_icons.png) 12px -79px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2ecee)) !important;
background: url(../images/sidebar_icons.png) 12px -79px no-repeat, -moz-linear-gradient(top,  #fff,  #e2ecee) !important;
}

#left_nav ul li.primary-nav-money_trail a:hover{
background: url(../images/sidebar_icons.png) 12px -126px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2ecee)) !important;
background: url(../images/sidebar_icons.png) 12px -126px no-repeat, -moz-linear-gradient(top,  #fff,  #e2ecee) !important;
}

#left_nav ul li ul ul li#overview a,
#left_nav ul li ul ul li#overview a.selected,
body.people #left_nav ul li ul li ul li#overview.selected a.selected:hover {
background: url(../images/sidebar_icons.png) 51px -194px no-repeat !important;
}


#left_nav ul li ul li#votes a {
background: url(../images/sidebar_icons.png) 52px -226px no-repeat !important;
}

#left_nav ul li ul li#bills a {
background: url(../images/sidebar_icons.png) 52px -260px no-repeat !important;
}


#left_nav ul li ul li#tweets a {
background: url(../images/sidebar_icons.png) 52px -293px no-repeat !important;
}

#left_nav ul li ul li#mentions a {
background: url(../images/sidebar_icons.png) 52px -326px no-repeat !important;
}


#left_nav ul li ul li#money_trail a {
background: url(../images/sidebar_icons.png) 52px -358px no-repeat !important;
}


#left_nav ul li ul li#videos a {
background: url(../images/sidebar_icons.png) 52px -392px no-repeat !important;
}

#left_nav ul li ul li#disqus a {
background: url(../images/sidebar_icons.png) 52px -423px no-repeat !important;
}

#left_nav ul li ul li#upper a,
#left_nav ul li ul li#lower a,
#left_nav ul li ul li#joint a {
background: url(../images/sidebar_icons.png) 58px -40px no-repeat !important;
}


#joint{
border-bottom: 0 !important;
}


/*////////////////////////////////////////////////////////////////////*/
.venn {
width: 714px;
background: transparent url(../images/about.png) 0 0 no-repeat !important;
margin: 40px 0 40px -13px;
height: 590px;
}
.supported_states_list {
height: 244px
}
.supported_states_list li a {
display: block;
font-size: 20px;
padding-left: 32px;
line-height: 3.5em;
background: transparent url(../images/states.png) 0 24px no-repeat !important;
}
.supported_states_list li a.state-LA {
background: transparent url(../images/states.png) 0 -34px no-repeat !important
}
.supported_states_list li a.state-MD {
background: transparent url(../images/states.png) 0 -88px no-repeat !important
}
.supported_states_list li a.state-TX {
background: transparent url(../images/states.png) 0 -200px no-repeat !important
}
.supported_states_list li a.state-WI {
background: transparent url(../images/states.png) 0 -142px no-repeat !important
}


.states.show.ca h1{
  background: url(../images/states.png) 38px 29px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); /* for webkit browsers */
  background: url(../images/states.png) 38px 29px no-repeat, -moz-linear-gradient(bottom,  #f9f9f9,  #fff); /* for firefox 3.6+ */
padding-left: 70px;
padding-right: 0 !important;
}

.states.show.la h1 {
  background: url(../images/states.png) 38px -31px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); /* for webkit browsers */
  background: url(../images/states.png) 38px -31px no-repeat, -moz-linear-gradient(bottom,  #f9f9f9,  #fff); /* for firefox 3.6+ */
padding-left: 70px;
padding-right: 0 !important;
}
.states.show.md h1 {
  background: url(../images/states.png) 38px -86px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); /* for webkit browsers */
  background: url(../images/states.png) 38px -86px no-repeat, -moz-linear-gradient(bottom,  #f9f9f9,  #fff); /* for firefox 3.6+ */
padding-left: 75px;
padding-right: 0 !important;
}
.states.show.tx h1 {
  background: url(../images/states.png) 38px -197px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); /* for webkit browsers */
  background: url(../images/states.png) 38px -197px no-repeat, -moz-linear-gradient(bottom,  #f9f9f9,  #fff); /* for firefox 3.6+ */
padding-left: 70px;
padding-right: 0 !important;
}
.states.show.wi h1 {
  background: url(../images/states.png) 0 -139px no-repeat !important, -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9f9f9)); /* for webkit browsers */
  background: url(../images/states.png) 0 -139px no-repeat !important, -moz-linear-gradient(bottom,  #f9f9f9,  #fff); /* for firefox 3.6+ */
padding-left: 70px;
padding-right: 0 !important;
}


.signup_form {
margin: 171px 0 0 59px;
width: 400px !important;
}
.signup_form input#email {
font-size: 12px;
padding: 9px;
margin: 0;
width: 155px;
border: 0;
margin-left: 10px;
background: none;
float: left;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.signup_form input#postal_code {
font-size: 12px;
border: 0;
padding: 9px;
float: left;
margin: 0 0 0 20px !important;
width: 80px;
background: none;
float: left;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.signup_form input#_qf_Edit_next {
margin: 3px 0 0 25px
}
.smaller * {
font-size: 12px !important
}
.smaller strong {
font-size: 12px;
display: block;
margin-bottom: 10px;
}
.wave {
background: #a6b9bc url(../images/wave_top.gif) left 0 no-repeat;
min-height: 300px;
margin: 0 -16px;
padding-top: 70px;
}
.wave h2 {
width: 312px;
margin: 0px auto 0;
background: url(../images/begin.gif) left 0 no-repeat;
height: 0 !important;
overflow: hidden;
line-height: 3em;
padding-top: 61px;
border: none;
}
.illo {
background: #f6f8fa;
padding: 60px 0 30px;
margin: 0 -10px -18px -10px;
}
.illo h2 {
width: 503px;
margin: 0px auto 0 !important;
background: url(../images/do_more.gif) center no-repeat;
height: 0 !important;
overflow: hidden;
line-height: 3em;
padding-top: 67px;
border: none;
}
.illo p {
background: #f6f8fa url(../images/illo.png) 14px 0 no-repeat;
width: 100%;
height: 400px;
margin: 0 !important;
}
.illo p .learn {
width: 300px;
margin: 0px 0 0 20px;
float: left;
height: 0;
padding-top: 280px;
overflow: hidden;
}
.illo p .track {
width: 330px;
margin: 0px 0 0 10px;
float: left;
height: 0;
overflow: hidden;
padding-top: 360px;
}
.illo p .share {
width: 300px;
margin: 0px 0 0 20px;
float: left;
height: 0;
overflow: hidden;
padding-top: 280px;
}
h2.grid_14.push_1 {
font-size: 28px;
font-weight: normal;
text-align: center;
border-bottom: none;
padding-bottom: 0;
line-height: 1em;
background: url(../images/sprites.png) 10px -171px no-repeat;
}
.grid_14 .push_1 {
margin: 0 !important;
padding: 0;
}
.grid_14 .push_1 p {
margin: 5px 0 40px !important;
text-align: center !important;
}
.grid_7.bigger {
font-size: 17px;
font-weight: bold;
}
.sub_footer {
width: 960px;
padding: 0 15px;
margin: 0px auto 20px;
font-size: 11.5px;
}
.menu {
padding-top: 220px;
width: 300px;
height: 0;
overflow: hidden;
float: left;
margin-left: 26px;
background: url(../images/menu.gif) center top no-repeat;
}
.map {
padding-top: 220px;
width: 300px;
height: 0;
overflow: hidden;
float: left;
margin-left: 20px;
background: url(../images/map.gif) center -50px no-repeat;
}
/*///////////////////////////

~ Container

///////////////////////////*/
.main {
background: #fff url(../images/side.png) -2px top repeat-y;
padding-bottom: 50px;
}
/* No background on the homepage */
.home.index .main,
.home.home .main,
.widgets .main   {
background: #fff
}
.home.home .main {
padding-bottom: 0px
}
/*///////////////////////////

~ Header

///////////////////////////*/
#account {
padding: 16px 0 0
}
#account p {
margin: 0;
padding: 0;
}
#account a {
margin: 0;
padding: 0 20px 0 0;
}
#account strong {
padding: 0px !important;
font-size: 16px;
margin-left: -20px;
line-height: 1em;
float: left;
margin-top: -2px;
}
#account strong a {
padding: 25px 0 0 0px !important;
float: left;
text-decoration: none;
color: #215357;
background: url(../images/opengovernment.png) 0px 0px no-repeat;
height: 0;
width: 205px;
overflow: hidden;
}
#account strong a:hover {
background: url(../images/opengovernment.png) 0px -42px no-repeat
}
/*///////////////////////////

~ Content

///////////////////////////*/
.content {
position: relative;
}
.less_padding {
padding: 0px 0
}
/*///////////////////////////

~ Views

///////////////////////////*/
.views {
font-size: 11px;
padding: 4px 0 4px 34px;
display: block;
clear: left;
color: rgba(0,0,0,1);
margin-right: 270px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
background: url(../images/sprites.png) 10px -171px no-repeat;
opacity: .5;
margin-bottom: 5px;
}
.addresses li {
clear: none;
font-size: 11px;
min-height: 150px;
}
.details {
padding: 10px 0 15px;
line-height: 1.4em;
}
.district_map img {
padding-bottom: 20px
}
/*///////////////////////////

~ Genders

///////////////////////////*/
/*
.gender-unknown{
padding-left: 20px;
background: url(../images/sprites.png) left -30px no-repeat;
}

.gender-male{
padding-left: 20px;
background: url(../images/sprites.png) left 2px no-repeat;
}


.gender-female{
padding-left: 20px;
background: url(../images/sprites.png) left -61px no-repeat;
}

*/


.committees_count {
float: right;
margin-top: -40px;
}
/*///////////////////////////

~ Donate

///////////////////////////*/
p.donate {
padding-top: 20px;
margin-right: 19px;
}
p.donate a {
display: block
}
/*///////////////////////////

~ Key votes

///////////////////////////*/
.key_votes {
position: relative
}
.key_votes a.what {
position: absolute;
right: 0;
top: 12px;
}
.key_votes div.small.quiet {
position: absolute;
left: 100px;
top: 12px;
}
/*///////////////////////////

~ Footer

///////////////////////////*/
.footer {
clear: both
}
.footer li {
clear: none;
line-height: 2.5em;
}
.footer h4 {
margin-top: 10px;
line-height: 2em;
border-bottom: 1px solid #d1dddd;
color: #777;
}
.footer li a {
display: block
}
/*///////////////////////////

~ 404

///////////////////////////*/
.fourohfour {
font-size: 100px;
display: block;
width: 900px;
text-align: center;
margin: 100px auto -20px;
padding-top: 100px;
font-weight: bold;
overflow: hidden;
height: 70px;
color: #c3d3e4;
text-shadow: 5px 5px 0px #6e8499;
}

.centered * {
text-align: center !important
}
/*///////////////////////////

~ Sign

///////////////////////////*/
#user_new {
width: 300px
}
#user_new p {
padding: 10px 0 10px 42px
}
#user_new label {
font-size: 14px
}
#user_remember_me {
float: left;
margin: 0 10px 0 0;
}
#user_email,
#user_password {
border: 0;
padding: 7px 8px;
border: 0;
width: 259px;
float: left;
clear: both;
font-size: 14px;
margin: 10px 0 !important;
/*
-moz-box-shadow: inset 0 1px 2px #333;
-webkit-box-shadow: inset 0 1px 2px #333;
box-shadow: inset 0 1px 2px #333;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal !important;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
background: -moz-linear-gradient(top,  #eee,  #fff);*/
}
#user_submit {
padding: 10px;
cursor: pointer;
margin-bottom: 40px;
width: 275px;
float: left;
font-size: 14px;
}
.sign h3 {
border-bottom: 1px solid #d1dddd;
margin-left: -26px;
width: 202px;
padding: 12px 0 12px 25px;
margin-right: 10px;
}
.sign input,
.sign label {
clear: both !important;
float: none !important;
display: block;
}
.sign input {
margin-bottom: 20px
}
.visit_blog {
background: url(../images/blog.png) 0 0 no-repeat;
display: block;
position: absolute;
right: 20px;
top: 98px;
width: 130px;
height: 0;
padding-top: 130px;
overflow: hidden;
}
.visit_blog:hover {
background: url(../images/blog.png) 0px -133px no-repeat
}


.small_finally h2{
border: none !important;
font-size: 15px;
text-transform: inherit;
padding-top: 10px;
margin-bottom: 30px;
}

.small_finally h2 span{
display: block;
padding: 5px 0;
}

.small_finally ul{
background: url(../images/small_track.png) 20px 0px no-repeat;
padding: 12px 0 10px 20px;
}


.small_finally ul li{
padding: 0 0 0 90px;
}


.small_finally ul li div{
padding: 0 0 0 0px;
font-size: 18px;
}


.small_finally ul li span{
padding: 0 0 0 0px;
font-size: 12px;
display: block;
line-height: 1.4em;
width:140px;
}


.track{
margin: 0px 0 72px;
}

.track span{
color: #83a0a4;
}


.contact{
margin: 0px 0 65px;
}

.contact span{
color: #a26361;
}



.shareli{
padding-bottom: 10px;
}


.shareli span{
color: #9abd92;
}


.more_links ul.standard{ 
padding-top: 10px;
}

.more_links ul.standard li{ 
clear: none !important;
}



/*///////////////////////////

~ State Images

///////////////////////////*/


.ca .small_finally{
background: url(../images/large-states/california.png) 12px 129px no-repeat;  
}

.la .small_finally{
background: url(../images/large-states/louisiana.png) 12px 129px no-repeat;  
}

.md .small_finally{
background: url(../images/large-states/maryland.png) 12px 209px no-repeat;  
}

.wi .small_finally{
background: url(../images/large-states/wisonsin.png) 12px 129px no-repeat;  
}

.tx .small_finally{
background: url(../images/large-states/texas.png) 12px 129px no-repeat;  
}



/*///////////////////////////

~ Tabs & Sorting 

///////////////////////////*/


#bill_tabs h3 {
  border: none;
  float: none;
  line-height: 1.7em;
  display: inline;
  }

#bill_tabs .more {
padding: 15px 15px 15px 0;  

}



#bill_tabs ul {
  display: inline;
  float: none;
  }


.tabs {
  float: left;
  padding: 0px 0 0px 40px;
  margin: 0 0px 0 -39px;
  width: 725px;/*
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 231, 234, .4)), to(rgba(191, 211, 214, .4))); 
  background: -moz-linear-gradient(top, rgba(215, 231, 234, .4), rgba(191, 211, 214, .4)); 
 
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background: -moz-linear-gradient(top,  #efefef,  #fff);
 */
}


.tabs li {
  float: left;
  clear: none;
  padding: 0;
  margin: 0;
  }



.tabs li.divider {
  display: none
  }



.tabs li a {
  float: left;
  clear: none;
  font-size: 14px;
  margin: 0;
  letter-spacing: .02em;
  line-height: 1.3em;
  position: relative;
  z-index: 99999999;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  width: 130px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  height: 1.4em !important;
  padding: 9px 0;
  cursor: pointer;
  text-align: center;
  -moz-outline: none;
  font-weight: bold;
  outline: none;

  border: 1px solid #ccc;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;

  -moz-box-shadow: inset 0 1px 0px #fff, 0 1px 0px rgba(69, 69, 69, .14);
  -webkit-box-shadow: inset 0 1px 0px #fff,  0 1px 0px rgba(69, 69, 69, .14);

  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
  background: -moz-linear-gradient(top,  #fff,  #efefef);
  }


.tabs li a:hover{
  color: rgba(0, 0, 0, .9);
  }


.tabs li a.active,
.tabs li a.active:hover{
  border: none;

  -moz-box-shadow: 0 1px 0px #f0f0f0, inset 0 1px 2px #888;
  -webkit-box-shadow: 0 1px 0px #f0f0f0, inset 0 1px 2px #888;
  box-shadow:  0 1px 0px #f0f0f0, inset 0 1px 2px #888;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#efefef)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ddd,  #efefef); /* for firefox 3.6+ */
  color: rgba(0, 0, 0, 0.4);
  text-shadow: rgba(255, 255, 255, 0.3);

  margin-top: 1px;
  cursor: default;
 }


.tabs li.all a {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-right: 0;
  }



.tabs li.all a.active {
  -moz-box-shadow: inset 1px 1px 2px #999, 0 1px 0 #fff;
  -webkit-box-shadow: inset 1px 1px 2px #999, 0 1px 0 #fff;
  box-shadow: inset 1px 1px 2px #999, 0 1px 0 #fff;
  }

.people .tabs li.senate a {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
margin-left: 200px;
}


.people .tabs li.senate.active a {

}


.tabs li.house a {
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;  border-left: 0;
  }

.tabs li.house a.active {
  -moz-box-shadow: inset -1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
  -webkit-box-shadow: inset -1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
  box-shadow: inset -1px 1px 2px #889b9e, 0 1px 0 #d8ebee;
  }

.tabs li.all {
  margin-left: 140px;
  }




.sorts {
  position: relative;
  top: -1px;
  width: 719px;
  padding: 30px 6px 20px 39px;
  float: left;
  
  border-left: none;
  border-right: none;
  margin: 0 0px 0px -39px;
  
  }
  

.sorts li.sort_label {
  display: none
  }


.sorts li {
  clear: none
  }


.sorts li a {
  float: left;
  clear: none;
  position: relative;
  z-index: 99999999;
  font-size: 11px;
  line-height: 1.3em;
  margin: 0px 14px 0 0;
  padding: 5px 16px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  
  font-weight: normal;
  
  -moz-outline: none;
  outline: none;
  
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;

  
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;


  border: 1px solid #ccc;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #aaa;

  -moz-box-shadow: inset 0 1px 0px #fff, 0 1px 0px rgba(69, 69, 69, .14);
  -webkit-box-shadow: inset 0 1px 0px #fff,  0 1px 0px rgba(69, 69, 69, .14);

  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #fff,  #efefef); /* for firefox 3.6+ */


  }

.sorts li a:hover {
  color: rgba(0, 0, 0, .9);
}

.sorts li a.active {
  font-weight: bold !important;
  border: 0;
  margin-top: 1px;
  -moz-box-shadow: inset 0px 1px 2px #999, 0 1px 0 #fff;
  -webkit-box-shadow: inset 0px 1px 2px #999, 0 1px 0 #fff;
  box-shadow: inset 0px 1px 2px #999, 0 1px 0 #fff;
  
  background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#efefef)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ddd,  #efefef); /* for firefox 3.6+ */
  color: rgba(0, 0, 0, 0.4);
  text-shadow: rgba(255, 255, 255, 0.3);
  
  }




.bills .sorts {
  padding: 30px 6px 20px 84px;
 
  }

.people .sorts {
  padding: 30px 6px 20px 164px;
 
  }



.issues.index ul.lined li{
font-size: 16px;
padding: 20px;
}




/*///////////////////////////

~ Widget Page

///////////////////////////*/

.widgets .grid_16{
margin-top: 0 !important;
}



.widgets h1{
margin-top: 0 !important;
margin-left: -21px;
}



.widgets .share_top{
position: absolute;
z-index: 9999999;
right: 0;
top: 29px;
width: 240px;
}


.widgets .share_top .share{
margin: 0 !important;
}

.chooser{
width: 70px;
float: left;
margin-right: 20px;
}

.chooser label{
display: block;
text-align: center;
font-size: 11px;
line-height: 2em;
font-weight: normal;
}


#widgetBG,
#widgetColor,
#widgetLinks{
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
height: 60px;
width: 60px;
border: none;
text-align: center;
display: block;
margin: 0 auto;
}

#embed-code{
width: 430px !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border: 1px solid rgba(101,101,101,.2);
}

.widget_config{

}


.widgets .button.tiny{
margin: 7px 19px 0;
  }



box{
  border: none !important;

}


box box  {
width: 250px;
height: 120px !important;
border: 1px solid;
padding: 0px;
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border: none !important;
-moz-box-shadow: 0 2px 5px rgba(101, 101, 101, 0.8) !important;
-webkit-box-shadow: 0 2px 5px rgba(101, 101, 101, 0.8) !important;
display: block;

  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, #eee, #dddddd);

}


box div  {
  -moz-border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  border: none !important;

}

box div div {
  -moz-border-radius:  0px !important;
  -webkit-border-radius: 0px !important;

}