
@import "base";

.take_action {
  opacity: .8;

  &:hover{   
  opacity: 1;
  }

  h4{
    padding: 10px !important;
    width: 130px;
    border: 0;
    display: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold !important;
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, .2), 0 -1px 0px rgba(0, 0, 0, .06), inset 0 1px 1px #fff;    
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, .2), 0 -1px 0px rgba(0, 0, 0, .06), inset 0 1px 1px #fff;    
  }

  h4.pad{
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
  }

}


.share_buttons p {
  font-weight: normal;
  font-size: 11px;
  padding: 0 10px;
}



/* Styles for sharing buttons */


.share-tools {
  height: 30px;
  position: absolute;
  right: 0;
  width: 240px; 
  z-index: 99999;

  h4{
    display: none;
  }

}


ul.share {
  list-style: none !important;
  padding: 0px 0 10px 8px;
  margin: 0px 0 36px 0px !important;
  height: 20px;
  float: left;
  overflow: hidden;
}


.permalink {
  background: url(../images/share.png) no-repeat -522px top;
  height: 0px;
  padding-top: 26px;
  width: 25px;
  float: left;
  overflow: hidden;
}


.permalink:hover {
  background: url(../images/share.png) no-repeat -522px -30px;
}


.share {

  .reddit a {
    background: url(../images/share.png) no-repeat -305px top;
  }

  .reddit a:hover {
    background: url(../images/share.png) no-repeat -305px -30px;
  }

  .digg a {
  display: none;
    background: url(../images/share.png) no-repeat -90px top;
  }

  .digg a:hover {
    background: url(../images/share.png) no-repeat -90px -30px;
  }

  .buzz a {
    background: url(../images/share.png) no-repeat -211px top;
  }

  .buzz a:hover {
    background: url(../images/share.png) no-repeat -211px -30px;
  }

  .linkedin a {
    background: url(../images/share.png) no-repeat -273px top;
  }

  .linkedin a:hover {
    background: url(../images/share.png) no-repeat -273px -30px;
  }

  .delicious a {
    background: url(../images/share.png) no-repeat -119px top;
  }

  .delicious a:hover {
    background: url(../images/share.png) no-repeat -119px -30px;
  }

  .stumble a {
    display: none;
    background: url(../images/share.png) no-repeat -150px top;
  }

  .stumble a:hover {
    background: url(../images/share.png) no-repeat -150px -30px;
  }

}


.people.show .hov.track_buttons .drop{
  height: 96px;
  width: 165px;
  }

.bills.show .hov.track_buttons .drop{
  height: 132px;
  width: 156px;
  }

.track_buttons {
  padding: 25px 0 0 10px;
  margin: 0;
  height: 30px;
  float: right;
  position: relative;
  z-index: 999999;

  li.rss,
  li.email  {
    float: left;  
    clear: none !important;
  }

  h4{
    display: none;
  }

  h4 span{
    background: url(../images/track_write.png) no-repeat 7px -25px;
    padding-left: 24px !important;
  }


  li.rss span{
    display: block !important;
    float: left !important;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 3px;
    background: url(../images/share.png) no-repeat -495px 0px;
    margin: 0px 7px 6px 20px;
    text-decoration: none !important;
  }

  li.rss div{
    float: left !important;
    margin-left: 0px;
  }

  li.email a{
    padding-top: 0px;
    float: left;
    margin-bottom: 10px;
    display: none;
  }

  li.email a span.icon{
    padding-left: 25px;
    height: 23px;
    margin-right: 5px;
    float: left;
    background: url(../images/share.png) no-repeat -63px 0px;
  }


  li.email a span.soon{
    font-size: 11px;
    font-weight: normal;
    padding-left: 29px;
      background: none;
    margin-top: -5px;  
    display: block;
    width: 90px;
  }

}


.write_buttons{
  @include light-gray-gradient;
  @include rounded;

  @include borders;

  clear: both;



  width: 310px;
  float: right !important;
  padding-left: 20px;
  form{
    padding: 0 0 0 0px !important;
    margin: 0;
    clear: both;
  }

  strong{
    display: block;
    float: left;

    padding: 6px 10px 0 0;
    font-weight: normal
  }

  label{
    float: left;
    padding: 6px 18px 0 0 !important;
    font-size: 11px !important;
    font-weight: bold !important;
    display: none;
  }

  form#find_my_rep #addr {
    float: left;
    clear: none !important;

    font-size: 11px !important;
    margin: 0 10px 0 0!important;
    border: 0 !important;
    padding: 7px 8px !important;


    letter-spacing: .06em;


    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal !important;

    -moz-box-shadow: inset 0 1px 2px #333;
    -webkit-box-shadow:inset 0 1px 2px #333;
    box-shadow: inset 0 1px 2px #333;  

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#efefef)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ddd,  #efefef);
    width: 130px !important;
    margin: 10px 0 !important;
  }

  input{
    float: left;
    opacity: .5;
    font-size: 11px !important;
    cursor: pointer;
    margin: 0px 0 9px 0px !important;
    padding: 6px 20px;

    width: 146px;
  }
  
}




.write_buttons li,
ul.share li {
  float: left;
  clear: none;
  margin-right: 7px;
}

.write_buttons a,
ul.share li a {
  width: 27px !important;
  height: 0px !important;
  overflow: hidden !important;
  padding-top: 27px !important;
  float: left !important;
}


.support_buttons {
  padding: 10px 30px 0 0;

  a {
    margin: 0px 0 0 10px;
    width: 30px;
    float: right;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
    text-align: center;
    overflow: hidden;
  }

  a span{
    padding: 25px 0 0 0;
    display: block;
    height: 0px;
    overflow: hidden;
  }
}

.support span{
  background: url(../images/sprites.png) 9px -354px no-repeat;
}


.oppose span{
  background: url(../images/sprites.png) 9px -391px no-repeat;
}



.share_top{
  border-top: 0;
  border-bottom: 1px solid #ddeded;
  margin: 0 -15px 0 -34px;
  padding-left: 18px;
  width: 760px;
  background: #f4f9fa;
}



.share_callout {
  padding: 11px 0 0 20px;
  float: left;
}

.share_top ul.share{
  margin: 5px 0 5px 15px !important;
}


