/* Default styles for all opengovernment widgets.
 */

@import "base";

// Styles for the widget itself
.og-widget {

  .og-widget-container {
    @include border-radius(4px);
    border: 1px solid rgba(101,101,101,.2);
    background: url(../images/widg-bg.png) 0px 0px no-repeat;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding-left: 20px;

    h1 {
      line-height: 1em;
      font-size: 18px;
      padding: 15px 0 0 0;
      margin: 0;
      border: 0;
      background: none;
    }

    h1 a {
      font-weight: normal;
    }
  
    h1 span {
      line-height: 1.5em;
      font-size: 14px;
      font-weight: bold;
      padding: 0px;
      margin: 0;
      display: block;
      background: none;
    }

    ul {
      list-style-type: none;
      margin: 0 1.5em 0 0;
      padding-top: 5px;
      padding-left: 0;
    }

    li {
      padding-bottom: 15px;
      margin: 10px 0 0 0px;
      border-bottom: 1px solid rgba(101,101,101, .1);
      background: none;
      line-height: 1.7em;
      clear: both;    
    }

    li:last-child {
      border-bottom: 0;
    }

    h2 {
      text-transform: none;
      line-height: 1.2em;
      margin: 0 0 10px;
      font-weight: normal;
      font-size: 14px;
      padding: 0;
      margin: 0;
      clear: left;
    }

    h2 a {
      font-size: 12px;
    }

    h1 a, h2 a, h3 a {
      text-decoration: none;
    }

    h3 {
      padding: 3px;
      background-color: #fff;
      border: 1px solid #ccc;
      margin: 0 0 2px 0;
      display: inline;
      float: left;
      width: auto;
      line-height: 1.1em;
      font-size: 12px;
    }
  
  
  }
}

.og-widget-person {
  h2 {
    display: inline;
  }
  
  h2, div {
    float: none;
  }
  
}

.og-widget-photo {
  float: left;
  padding-right: 10px;
}

.og-widget-footer {
  display: block;
  margin-bottom: 1.5em;
}


// Styles for the widget config pages
textarea#embed-code {
height: 250px;
width: 250px;
}

@font-face {
  font-family: 'ogeye';
  font-style:  normal;
  font-weight: normal;
  src: url('../fonts/ogeye.eot');
  src: local('ogeye'), url('../fonts/ogeye.ttf') format('truetype');
}

.og-widget-intro{
font-size: 11px;
margin-top: 5px;
line-height: 16px;
margin-right: 15px;
float: left;

}

.og-widget-views:before, .og-widget-intro:before {
  padding-right: 6px;
  font-family: 'ogeye';
  content: 'B';
  position: relative;
  font-size: 12px;
  opacity: 0.8;
}

.og-widget-action:before {
  padding-right: 10px;
  font-family: 'ogeye';
  content: 'A';
  position: relative;
  font-size: 11px;
  opacity: 0.8;
}


.og-widget-views{
font-size: 11px;
margin-top: 5px;
line-height: 16px;
margin-right: 15px;
float: left;
}

.og-widget-bill-action{
font-size: 11px;
line-height: 16px;
margin-top: 5px;
float: left;
}


.og-widget-clear{
clear: both;
height: 0;
}


.widgets .grid_16{
margin-top: 0 !important;
}



.widgets h1{
margin-top: 0;
margin-left: -10px;
margin-right: -35px;
}



.widgets .share_top{
position: absolute;
z-index: 9999999;
background: transparent;
border-bottom: none;
right: 0;
top: 29px;
width: 240px;
}


.widgets .share_top .share{
margin: 0 !important;
}

.chooser{
width: 70px;
float: left;
margin-right: 20px;
}

.chooser label{
display: block;
text-align: center;
font-size: 11px;
line-height: 2em;
font-weight: normal;
}


.chooser input {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
height: 60px;
width: 60px;
border: none;
text-align: center;
display: block;
margin: 0 auto;
}

#embed-code{
width: 430px !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border: 1px solid rgba(101,101,101,.2);
}

.widget_config{
   
}


.widgets .button.tiny{
margin: 7px 19px 0;
  }



.widgets .grid_16{
  background: url(../images/widg-bg.jpg) 9px 100px no-repeat;
}


.widgets.index .grid_16{
  background:none !important;
}

.widget_preview{
padding: 50px 0 0 20px;
}


.widget_config{
padding: 50px 0 0 0px;
}


.list {
  background: url(../images/og-widg.jpg) right 65px no-repeat;
float: left;
min-height: 500px;
width: 100%;
}

.list h2{
margin-left: 20px;}

.list ul{
padding: 0px;
border: 1px solid rgba(101,101,101,.2);
background:  rgba(101,101,101,.2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  width: 320px;
  margin: 0 0 0 20px
}



.list ul li{
padding: 20px 30px 5px;
border-bottom: 1px solid #aaa;
}


.list ul li:last-child{
border-bottom: none;
}
