.full_lined
  %p Welcome to OpenGovernment, a free and open-source public resource for government transparency at the state, city, and local levels. 
  
  %p OpenGovernment comes from the team that brought you OpenCongress, the most-visited transparency website in the country for the U.S. Congress. Just like OpenCongress, OpenGovernment is a non-profit, non-partisan web project for the public good. Read more <a href="/pages/about">about us</a>.

  %p In September 2010, OpenGovernment is launching with information for five state legislatures: California, Louisiana, Maryland, Texas, and Wisconsin. Over the next two years, our plan is to roll out OpenGovernment to the remaining 45 U.S. states -- but that's just the start. We also seek to expand OpenGovernment to over a dozen major U.S. cities, other countries, international institutions, and more.
  
  %p We are actively seeking volunteers and donations to support our public-mission work: <a href="/pages/help">help us grow</a>. The best way to stay in touch with OG is to #{link_to 'join our low-volume email list', 'http://crm.ppolitics.org/'}.
  
  %p To get started: click on your state in the map below, or enter your full street address here.
  
= render :partial => 'shared/find_my_rep_form'

= interactive_us_map
