.full_lined
  %p Welcome to OpenGovernment. Connect with your state and local legislature. Free and open-source. 
  
  %p OpenGovernment is a non-profit, non-partisan public resource from the team that brought you OpenCongress, the most-visited government transparency website in the United States and likely the world. This is our public "beta" version -- we need non-profit funding and volunteers to grow.
  
  %p To get started, click on your state below, or enter your full street address.

= render :partial => 'shared/find_my_rep_form'

= interactive_us_map
