.full_lined
  %p Welcome to OpenGovernment, a free and open-source public resource for government transparency at the state and local levels. Finally, a version of OpenCongress for your state legislature. 
  
  %p Learn how your state's government works. Track bills and people in your state legislature. Share the best info about what's happening with all of your political interests. Follow the money trail on key votes. Organize your community and contact your elected officials. Access all this newly-liberated and uniquely-aggregated data in a user-friendly website. (Thank goodness!) 
  
  %p OpenGovernment is a non-profit, non-partisan project from the team that brought you OpenCongress, the most-visited government transparency website in the United States. This is our public "beta" version -- we've there's much more to come, and you can help us grow. 
  
  %p To get started, click on your state in the map below, or enter your full street address.

= render :partial => 'shared/find_my_rep_form'

= interactive_us_map
