.full_lined
  %p OpenGovernment is a free, open-source, not-for-profit, and non-partisan project of the <a href="http://participatorypolitics.org/">Participatory Politics Foundation</a>. For more info on our mission, see PPF's page of public resource <a href="http://participatorypolitics.org/projects">projects</a>;. OpenGovernment is currently in early development in partnership with the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a> and the community-driven <a href="http://fiftystates-dev.sunlightlabs.com/">Open States Project</a>. 

  %p To stay in touch with OpenGovernment development, #{link_to 'sign up for our email list', 'http://crm.ppolitics.org/'}.

  %p For questions or to get involved, #{link_to 'get in touch', 'http://support.opencongress.org/anonymous_requests/new'}.

= render :partial => 'shared/find_my_rep_form'

= interactive_us_map
