
.space

<a class="visit_blog" href="http://blog.opengovernment.org">Visit the Blog</a>

%h2.grid_14.push_1 Finally, a version of OpenCongress for your state legislature

.grid_14
  .push_1
    %p Welcome to OpenGovernment, a public resource for government transparency at the state, city, and local levels. Free and open-source. 


.grid_14.push_1
  .grid_7.alpha.bigger.supported_states_list
    .grid_3.alpha
      %ul
        - @states[0...(@states.size/2)+1].each do |state|
          %li
            %a{:href => state_url(state), :class => "state-#{state.abbrev}"}= state.name
    .grid_3.omega
      %ul.bill_documents
        - @states[(@states.size/2)+1..@states.size].each do |state|
          %li
            %a{:href => state_url(state), :class => "state-#{state.abbrev}"}= state.name
    

  .grid_7.omega.notify_me
    .signup_form
      %form(action="http://crm.ppolitics.org/civicrm/profile/create&amp;gid=10&amp;reset=1" method="post" name="Edit" id="Edit")
        %input(name="postURL" type="hidden" value="")
        %input(name="cancelURL" type="hidden" value="http://crm.ppolitics.org/civicrm/profile?reset=1&amp;gid=10")
        %input(name="add_to_group" type="hidden" value="3")
        %input(name="_qf_default" type="hidden" value="Edit:cancel")
        %input(maxlength="64" size="30" name="email-Primary" type="text" placeholder="Email" id="email" class="form-text big required")
        %input(maxlength="12" size="12" name="postal_code-Primary" type="text" placeholder="Postal Code" id="postal_code" class="form-text twelve")
        %input(class="form-submit button medium default" accesskey="S" name="_qf_Edit_next" value="Save" type="submit" id="_qf_Edit_next")

.find_box
  = render :partial => 'shared/find_my_rep_form'

.clear

.illo
  %h2 Do more with OpenGovernment 

  %p
    %span.learn{:title => 'Connect with all the bills, votes, and people in state government. OpenGovernment combines official government information with helpful info from around the Web to make it more user-friendly.', :rel => 'tipsy-south'} Learn
    %span.track{:title => 'Keep in touch with all the bills you are following. Subscribe to RSS feeds for updates of bill actions and their key votes. View campaign contribution data for every state legislator, compare them with issue-group ratings, and follow the money trail.', :rel => 'tipsy-south'} Track 
    %span.share{:title => 'Watchdog the issues you care about. Bill and people pages have built-in tools to share all the best info over social media with your community.', :rel => 'tipsy-south'} and Share

