.find_box
  = render :partial => 'shared/find_my_rep_form'

.space

%h2.grid_14.push_1 Finally, a version of OpenCongress for your state legislature

.grid_7.bigger
  .push_1
    %br
    %p 
      Welcome to OpenGovernment, a free and open-source public resource for government transparency at the state and local levels.


.grid_7
  .push_1
    %br
    %p OpenGovernment is a non-profit and non-partisan project of the Participatory Politics Foundation and the Sunlight Foundation, the team behind OpenCongress, the most-visited government transparency website in the United States. The site is in early development -- much more to come, and you can help us grow.

.clear.space

.illo
  %h2 Do more with OpenGovernment 

  %p Learn Track and Share
