.full_lined
  %p OpenGovernment is a free and open-source web resource for aggregating and presenting government data. Our mission is to make government more transparent and increase civic engagement. OpenGovernment is a free, open-source, not-for-profit, and non-partisan public web resource.

  %p To stay in touch with OpenGovernment development, sign up for our email list :: (add to PPF News in PHP List for now)

  %p For questions or to get involved, get in touch :: writeus@ppolitics.org.

.full_lined
  .find_form
    - form_tag 'search', :method => :get do
      %label(for="q") Enter your Address or Zip Code to find your districts
      = text_field_tag :q, params[:q]
      = submit_tag "Find"
  .auto_find
    = link_to "Automatically Find My Location", "javascript:findMe();"
    :javascript
      function findMe() {
        navigator.geolocation.getCurrentPosition(fillForm);
      }

      function fillForm(position) {
        $('#q').val(position.coords.latitude + ', ' + position.coords.longitude);
      }

= interactive_us_map_image_tag
