.full_lined
  %p Welcome to OpenGovernment, a free and open-source public resource for government transparency at the state and local levels. Finally, a version of OpenCongress for your state legislature. 
  
  %p Learn how your state government works. Track bills and people in your state legislature. Share the best info about all of your political interests. Follow the money trail on key votes. Spread the word with your friends and neighbors, then contact your elected officials. Together, we can build public knowledge in our communities and increase civic engagement in our democracy.
  
  / Build public knowledge about politics, organize your community, and increase civic engagement in our democracy. Much of this data is newly-liberated from closed-off government websites. All of it is uniquely-aggregated and presented in a user-friendly interface. 
  
  %p OpenGovernment is a non-profit and non-partisan project of the <a href="http://participatorypolitics.org/">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>, the team behind <a href="http://www.opencongress.org/">OpenCongress</a>, the most-visited government transparency website in the United States. This is just an early preview version of OpenGovernment-- much more to come over the next year, and you can help us grow. 
  
  %p <strong>To get started, click on your state in the map below, or enter your zip.</strong>

= render :partial => 'shared/find_my_rep_form'

= interactive_us_map
