%li[bill]
  .bill_titles
    != link_to(bill.bill_number, bill_path(bill.session, bill), :class => "bill_link") + content_tag(:span, truncate(bill.title, :length => 140))
  - if bill.first_action_at
    %span.introduced= ' Introduced ' + bill.try(:first_action_at).to_s(:pretty)