.grid_8
  .grid_4.alpha
    %ul.bill_documents
      = render :partial => 'document', :collection => @documents[0...@documents.size/2]

  .grid_4.omega
    %ul.bill_documents
      = render :partial => 'document', :collection => @documents[@documents.size/2..@documents.size]

.documents_more_link.grid_8
  %br(clear='both')
  - if @documents.next_page
    %strong= link_to('Show More', {:page => @documents.next_page}, :remote => true)
-#    = will_paginate @documents
  -# Hack to support ajax in pagination links.
-#  :javascript
-#    $('.pagination a').attr('data-remote', 'true');
