- title(t('.all_documents_for', :bill_number => @bill.bill_number))

%h2
  = t('.all_documents_for', :bill_number => @bill.bill_number)

#bill_documents
  = render 'documents', :document => @documents
