- title("Tweets about #{@bill.bill_number}")
- tweets(@bill.to_hashtags, 2)

= render 'wrapper'

%p= t '.intro'

#twitter(style="display: none;")
  %h2 Tweets
  .grid_12.alpha
    #notweets(style="display: none;")
      %p Well, no social media mentions found for this bill at this time. But you can be the first to let the open Web know that you're following this bill.
      
      %p Click the 'Tweet this' button to generate an update, hit publish, and your Tweet should appear here in less than 30 seconds.
      
      %p There's lots more to do to make our government more open and improve our data sources for the public benefit-- read more about <a href="/pages/help">how you can help</a>.
    %ul#tweets
