- title("All Sponsors of #{@bill.bill_number}")

%h2 
  = t('.all_sponsors_of', :bill_number => @bill.bill_number)


.grid_4.alpha
  %ul.lined
    = render :partial => 'sponsor', :collection => @sponsors[0...@sponsors.size/2]

.grid_4.omega
  %ul.lined
    = render :partial => 'sponsor', :collection => @sponsors[@sponsors.size/2..@sponsors.size]
