.chooser
  %input(type="text" maxlength="6" size="6" class="color widgetVar" id="widgetBG" value="f9f9f9")
  %label(for="widgetBG") Background

.chooser
  %input(type="text" maxlength="6" size="6" class="color widgetVar" id="widgetHeader" value="333")
  %label(for="widgetHeader") Header Text

.chooser
  %input(type="text" maxlength="6" size="6" class="color widgetVar" id="widgetColor" value="555")
  %label(for="widgetColor") Text

.chooser
  %input(type="text" maxlength="6" size="6" class="color widgetVar" id="widgetLinks" value="555")
  %label(for="widgetLinks") Links
