= title('Create a custom Most Viewed People Widget')

.grid_8
  .widget_preview.grid_7.omega
    %h2 Live Preview of your widget
    #widgetPreview
      :javascript
        var testWidget = new OG.Widget({
          version: 1,
          type: 'most_viewed_people',
          state: '#{current_place_subdomain}',
          width: 'auto',
          preview: true,
          theme: {
            background: '#eee',
            color: '#555',
            header: '#333',
            links: '#00f'
          }
        }).render();

.widget_config.grid_8.omega.alpha
  %h2 Customize your widget

  %form
    = render :partial => 'color_choosers'

    #dimensions
      %label(for='widgetWidth') Width:
      %input(type="text" maxlength="3" size="3" id="widgetWidth" class="widgetVar" value="250")
      %span.note (in&nbsp;px)
      %p.small 
        (width changes do 
        %br
        not appear in the preview)

    .space

    #get_the_code
      %h2 Get the Code
      %textarea(id="embed-code")

