- title("OG Badges")

%hr

%h2.push_bottom State Badges


%ul.badges
  %li
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-ca.png" alt="California" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-ca.png" alt="California" /></a>
  %li 
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-wi.png" alt="Wisconsin" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-wi.png" alt="Wisconsin" /></a>

  %li 
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-la.png" alt="Louisiana" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-la.png" alt="Louisiana" /></a>

  %li 
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-md.png" alt="Maryland" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-md.png" alt="Maryland" /></a>

  %li
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-tx.png" alt="Texas" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-tx.png" alt="Texas" /></a>


%hr

%h2.push_bottom PPF Badges


%ul.badges
  %li
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-big.png" alt="OpenGovernment" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-big.png" alt="OpenGovernment" /></a>
  %li 
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-small.png" alt="OpenGovernment" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-small.png" alt="OpenGovernment" /></a>

  %li 
    %p <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-mark.png" alt="OpenGovernment" /></a>
    %textarea <a href="http://www.opengovernment.org"><img src="/images/state-badges/og-mark.png" alt="OpenGovernment" /></a>

