- title("About OpenGovernment.org")




<img class="image" src="/images/comparison/CA_bill.jpg" alt="CA_bill" width="300" height="300" />
<img class="image" src="/images/comparison/CA_committee.jpg" alt="CA_committee" width="300" height="300" />
<img class="image" src="/images/comparison/CA_senator.jpg" alt="CA_senator" width="300" height="300" />
<img class="image" src="/images/comparison/CA_vote-page.jpg" alt="CA_vote-page" width="300" height="300" />
<img class="image" src="/images/comparison/LA_bill-full.jpg" alt="LA_bill-full" width="300" height="300" />
<img class="image" src="/images/comparison/LA_bill-votes.jpg" alt="LA_bill-votes" width="300" height="300" />
<img class="image" src="/images/comparison/LA_senate-closer.jpg" alt="LA_senate-closer" width="300" height="300" />
<img class="image" src="/images/comparison/LA-bill-close.jpg" alt="LA-bill-close" width="300" height="300" />
<img class="image" src="/images/comparison/MD_bill.jpg" alt="MD_bill" width="300" height="300" />
<img class="image" src="/images/comparison/MD_committee.jpg" alt="MD_committee" width="300" height="300" />
<img class="image" src="/images/comparison/MD_legislator.jpg" alt="MD_legislator" width="300" height="300" />
<img class="image" src="/images/comparison/TX_bill.jpg" alt="TX_bill" width="300" height="300" />
<img class="image" src="/images/comparison/WI_bill_alt.jpg" alt="WI_bill_alt" width="300" height="300" />
<img class="image" src="/images/comparison/WI_bill_fund.jpg" alt="WI_bill_fund" width="300" height="300" />
<img class="image" src="/images/comparison/WI_bill_info.jpg" alt="WI_bill_info" width="300" height="300" />
<img class="image" src="/images/comparison/WI_vote.jpg" alt="WI_vote" width="300" height="300" />