- title(t '.contact_og' )

%p= t '.were_a_small_team'

%form(action="http://crm.aws.ppolitics.org/civicrm/mailing/subscribe" method="post")
  %p
    %input(name="email" type="text" id="email")
    %input(name="mark_x_3" type="hidden" value="1")
    %input(name="_qf_Subscribe_next" value="Subscribe" type="submit")

%p
  = t '.follow_us'
