- title("Contact OpenGovernment.org")

%p We're a small non-profit team, easy to reach. We welcome your questions, feedback, and ideas. Let us know how you're using OpenGovernment, what features you'd most like to see, and if you're using our site in ways that we can highlight positively on our blog. 

%p For general help & questions about this site, or to submit a bug report, file a ticket in our existing help desk system: <strong><a href="http://support.opencongress.org/anonymous_requests/new">OpenCongress ZenDesk</a></strong>. Filing a ticket is easy and is the most effective way to ensure we address your communication. Please keep in mind this is a beta version -- it's expected that some bugs may pop up, so just let us know where they are and we'll fix them as soon as possible. We have a long, long list of planned enhancements.

%p For updates as we work to take OpenGovernment national, sign up for our low-volume mail list:

%form(action="http://crm.ppolitics.org/civicrm/mailing/subscribe" method="post")
  %p
    %input(name="email" type="text" id="email")
    %input(name="mark_x_3" type="hidden" value="1")
    %input(name="_qf_Subscribe_next" value="Subscribe" type="submit")

%p Follow us on social media: 

%ol
  %li 
    %p Micro-publishing: <a href="http://twitter.com/open_gov">@open_gov</a> on Twitter and <a href="http://identi.ca/opengovernment">@opengovernment</a> on Identi.ca
  %li 
    %p Join our truly-brand-new <a href="http://www.facebook.com/davidrussellmoore#!/pages/OpenGovernment/165122773534162">OpenGovernment Page</a> on Facebook, with <a href="http://www.joindiaspora.com/">Diaspora</a> profile coming soon, as we're boosters of open standards and intent on mitigating the negative effects of the "<a href="http://techpresident.com/blog-entry/filter-bubble-and-news-you-need-know" target="_blank">filter bubble</a>" inherent in the daily use of closed social media services.

%p IRC: we hang out in #opengovernment on irc.freenode.net, or ping Freenode user: davidrussellmoor anytime. 

%p E-mail: for general user support, please use the ZenDesk account above, it's the fastest way for us to get back to you & track new issues. For more detailed inquiries, partnership offers, media requests, or to obtain a copy of our non-profit fundraising prospectus, email David Moore, Executive Director, PPF: david [at] ppolitics d0t org. 

%p Address & contact info: <a href="http://www.participatorypolitics.org/contact/">Participatory Politics Foundation</a> and <a href="http://sunlightfoundation.com/contact">Sunlight Foundation</a>. 

%p For more detailed involvement, join our developer forum & site discussion: <a href="http://groups.google.com/group/opengovernment/">OpenGovernment Google Group</a> and volunteer at our <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data">Drumbeat</a> project page. 

%p If you're a volunteer developer with more detailed feature or user interface suggestions, register a free account with our <a href="https://participatorypolitics.lighthouseapp.com/projects/47665-opengovernment">Lighthouse App</a> project management system (the signup link is in the upper-right) and create a <a href="https://participatorypolitics.lighthouseapp.com/projects/47665-opengovernment/overview">new ticket</a>, assigned to username "drm". Our team will then slot it into our development wish-list accordingly. If you're so inclined, you can also peruse our publicly-available wishlist on our <a href="https://www.pivotaltracker.com/projects/64842" target="_blank">Pivotal Tracker</a> development system. 

%p We seek to bring the OpenGovernment platform to all 50 U.S. states, major cities, many many neighborhoods, and other countries around the globe -- see how you can <a href="/pages/help">help us grow</a>. 