- title("Contact OpenGovernment.org")

%p We're a small non-profit team, easy to reach and eager to talk. As such, we welcome your questions and feedback. Let us know how you're using OpenGovernment, what features you'd like to see, and if you have any use cases we can highlight positively on our blog. We seek to bring OpenGovernment to all 50 U.S. states, major cities, and localities -- see how you can <a href="/pages/help">help us grow</a>. 

%p <strong>For general user support and questions about this site</strong>: pending the imminent creation of a new OG-specific account, hit us up on the <a href="http://support.opencongress.org/anonymous_requests/new">OpenCongress ZenDesk</a>.

%p Developer forum & site discussion: <a href="http://groups.google.com/group/opengovernment/">OpenGovernment Google Group</a>

%p Email list: <a href="http://crm.ppolitics.org/">OpenGovernment site updates</a>

%p Social media: <a href="http://twitter.com/open_gov">@open_gov</a> on Twitter; <a href="http://identi.ca/opengovernment">@opengovernment</a> on Identi.ca; pending the imminent creation of a new OG-specific group, <a href="http://www.facebook.com/OpenCongress">OpenCongress</a> on Facebook; <a href="http://www.joindiaspora.com/">Diaspora</a> profile coming soon, you better believe it. 

%p IRC: #opengovernment on freenode.net

%p E-mail: for general user support, please use the ZenDesk account above, it's the fastest way to resolve your issue. For more detailed inquiries, partnership offers, media requests, or to obtain a copy of our non-profit fundraising prospectus, email David Moore, Executive Director, PPF: david [at] ppolitics d0t org. 

%p Address & contact info: <a href="http://www.participatorypolitics.org/contact/">Participatory Politics Foundation</a> and <a href="http://sunlightfoundation.com/">Sunlight Foundation</a>. 