.grid_12.alpha
  %h1 OpenGovernment for Developers

.grid_8.alpha
  %h2 Dig your teeth into an exciting new project...

  %p This entire site is free and open source, and we're <em>always</em> looking for developers to get involved. <a href="http://github.com/opengovernment/opengovernment">OpenGovernment</a> is the Ruby on Rails application you're using right now, and <a href="http://github.com/opengovernment/govkit">GovKit</a> is a Ruby Gem that wraps common open government APIs from around the web. In addition, we're continually working on a <a href="http://opengovernment.org/pages/api">free API</a> of our unique user-generated data: the most-viewed bills, legislators most-in-the-news, and more, additions forthcoming.

  %p Here at <a href="http://participatorypolitics.org">Participatory Politics Foundation</a>, we think OpenGovernment can be similarly powerful across US State Legislatures (and at the city and country level as well, ultimately). But we're a tiny team, so our goal right now is to make this project accessible for developers who want to help out!

  %p Here's a map of our little corner of the open government datascape:

  = image_tag('pages/datascape.png')

  %h2 Getting Started

  %p
    %strong If you want to improve this site's features,
    get started by downloading and setting up OpenGovernment on your machine. Our <a href="https://github.com/opengovernment/opengovernment/blob/master/README.md">README</a> on GitHub contains complete installation instructions. We maintain a public <a href="https://www.pivotaltracker.com/projects/64842">Pivotal Tracker project</a> with our full wish list, and an <a href="https://participatorypolitics.lighthouseapp.com/projects/47665-opengovernment/overview">Issue Tracker</a> at Lighthouse. You can drop by the IRC channel anytime: chat.freenode.net channel <a href="irc://irc.freenode.org/opengovernment">#opengovernment</a>. We're there during business hours most days.

  %p
    %strong If you want to add your state to OpenGovernment,
    we pull the core state-level data from Sunlight Labs' Open State Project. So the best approach is to get involved with Sunlight Labs' Open State project.  They are looking for contributors! Open State maintains <a href="https://github.com/sunlightlabs/openstates">scrapers</a> (written in Python) that bring state legislative data into a common data format for their API. They then host the scraped data.

.grid_4.omega
  %h2 Quick Links
  %ul
    %li <a href="http://github.com/opengovernment">GitHub repositories</a>
    %li <a href="https://github.com/opengovernment/opengovernment/blob/master/README.md">Installation instructions</a>
    %li <a href="https://github.com/opengovernment/opengovernment/blob/master/CONTRIBUTING.md">Contributor's Guide</a>
    %li <a href="http://groups.google.com/group/opengovernment/">Developer discussion group</a>
    %li <a href="http://pivotaltracker.com/projects/64842">Pivotal Tracker project</a>
    %li Bugs: <a href="https://participatorypolitics.lighthouseapp.com/projects/47665-opengovernment/overview">Issue Tracker</a>
    %li IRC: Find us in chat.freenode.net channel <a href="irc://irc.freenode.org/opengovernment">#opengovernment</a>

  %h2 Contact Us
  %p
    Just getting involved?
    %br
    #{mail_to('develop@opencongress.org', 'Send a note to Carl Tashian', :encode => 'javascript')}, PPF's Director of Technology, and say hello. 
