- title("About OpenGovernment.org")

%p OpenGovernment is a free, open-source, and non-profit project in very early development -- you can help us grow. Government is far too closed-off from the public, and we're all working together to open it up.

%p First, stay in touch by joining our low-volume <a href="http://crm.ppolitics.org/">e-mail list</a>.

%p Second, join & follow along with our  social media: Twitter, Identi.ca, Facebook, Diaspora, or good ol' RSS. 

%p Third, become an OG Booster. We're looking for 500 members to contribute $5/month, totaling $2,500 / month, to hire a fundraising consultant who will help sustain OG's public-mission work. Boosters get invites to members-only online chats with OG site editors & developers, a special web badge, and more.

%p Want to bring OpenGovernment to your city or state? 

%p First, enter your address to sign the Open Government Data petition for your state. 

%p Second, sign up as a volunteer. You can help find official social media accounts and event information for your elected officials. 

%p Third, make a tax-exempt donation to support our non-profit work. The Participatory Politics Foundation is a 501(c)3 non-profit organization. 

% We're a small team with big goals, but we enjoy hearing your questions and comments -- send us feedback.  