- title("Help Us Open Government")

%p We're a tiny non-profit project, free & open-source. We have a good start, but we need more resources to roll out OpenGovernment to all 50 U.S. states and beyond.

%p Want to bring OpenGovernment to your state and city, and make this free resource even better? <strong>Fund our public-mission work!</strong>

%p Become a Booster of the Participatory Politics Foundation, our registered 501(c)3 non-profit organization. PPF Boosters donate one dollar per day, that's $31 per month, to support OpenGovernment. <a href="https://crm.ppolitics.org/sites/all/modules/civicrm/bin/OneClick.php?oc_action=donate&pp=paypal&amount=31&recur=2&groups=PPF+News:PPF+Booster&receipt=45" target="_blank">Sign up on PayPal</a> -- smooth and hassle-free. 

%p <strong>Foundations</strong>: the Participatory Politics Foundation is a registered 501(c)3 non-profit organization. We seek funding partners to roll out OpenGovernment to all 50 U.S. states, cities, localities, and other countries. Download & circulate our <a href="#{ image_path 'OpenGovernment_prospectus_March_2011.pdf' }">non-profit funding prospectus</a> (in .pdf) for more information. <a href="/pages/contact">Get in touch</a> to start a conversation about how OpenGovernment can support your current program areas.

%p <strong>Political bloggers & issue-based organizations</strong>: we rely on small contributions just to keep this beta version of OpenGovernment up and running. If you value ever-greater transparency in our government and like what you see so far, please support our work by making a one-time tax-exempt contribution: <a href="http://www.opencongress.org/donate" target="_blank">donate on OpenCongress</a>.

.venn

%p Join our low-volume e-mail list to stay in touch as we roll out OpenGovernment to all 50 states: 

%form(action="http://crm.ppolitics.org/civicrm/mailing/subscribe" method="post" class="rounded padding floatleft border background margin-right")
  %input(name="mark_x_3" type="hidden" value="1")

  %input(name="email" type="text" id="email" class="field cap")
  %input(name="_qf_Subscribe_next" value="Subscribe" type="submit" class="button medium cap")

%p ...we'll e-mail you about once a month with news & updates as we work to take OG national. While you're here, you can help <strong>spread the word</strong> about this new public resource with your community by clicking the "share this" icons at the top of this page. 

%p <strong>Follow us</strong> on social media: <a href="http://twitter.com/open_gov" target="_blank">@open_gov on Twitter</a> (or <a href="http://identi.ca/opengovernment" target="_blank">@opengovernment on Identi.ca</a>). Coming shortly, we'll kick off our official <a href="http://www.facebook.com/#!/pages/OpenGovernment/165122773534162">OpenGovernment Facebook page</a> and an open-standards <a href="http://www.joindiaspora.com/" target="_blank">Diaspora</a> profile to build our open community of citizen watchdogs. 

%p To help us add data to OpenGovernment for the public benefit, sign up as an <strong>OG volunteer</strong> -- head over to our <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data" target="_blank">Drumbeat project page</a> and click the button to "join this project" (it's free and takes just a minute). There, you can join over hundreds of other contributors and help us find the following much-needed info for elected officials across the country (maybe even yours): social media accounts, public event schedules, video footage, scorecards from watchdog groups, and more.

%p What makes OpenGovernment new & different & useful? Read more <strong><a href="/pages/about">about us</a></strong>. Just as OpenCongress has emerged as a leading resource for transparency in the U.S. Congress, so can OpenGovernment facilitate citizen watchdogging and accountable government in state legislatures and city councils. Political bloggers, educators, issue-based groups, citizen journalists, media publishers, government watchdogs, elected officials, casual web surfers: see the many <a href="/pages/about">ways you can use OpenGovernment</a>. 

%p <strong>Web developers</strong>: we're open-source to the core, contributors of code & info back to the commons, evangelists for open standards, and activists for the liberation of public data. Visit our <a href="/pages/developer">developer hub</a> and join the community driven <a href="http://openstates.sunlightlabs.com/" target="_blank">OpenStates Project</a> coordinated by <a href="http://sunlightlabs.com/" target="_blank">Sunlight Labs</a> to dive into our work: an extensive data & feature wish list, join our discussions, check out our source code, and help us scrape more government data from your locality. 

%p OpenGovernment is a joint project of two 501(c)3 non-profit organizations, the <a href="http://www.participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>, and we have big plans. In keeping with the principles of transparency and accessibility, we invite you to </strong><a href="/pages/contact">contact us</a></strong> and let us know what you think. 