- title("About OpenGovernment.org")

%p OpenGovernment is a free, open-source, non-profit, and non-partisan project in early development. It's based on OpenCongress, the most-visited government transparency website in the United States. 

%p We've started with the legislatures of five states: California, Louisiana, Maryland, Texas, and Wisconsin. This is a good start, but we need more resources in order to roll out OpenGovernment to the remaining 45 states, cities, and towns across the country.

%p Want to bring OpenGovernment to your state and city, and make this public resource even better?  <strong>Help us grow!</strong> 

%p First, join the OG email list to stay in touch with site announcements. If you like, follow us on Twitter or Identi.ca and join us on Facebook or Diaspora.

%p Second, sign up as an OG volunteer -- head over to our <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data">Drumbeat project page</a> and click the button to "join this project" (it's free and takes just a minute). There, you can help us find the following much-needed info for elected officials across the country: social media accounts, public event schedules, video footage, scorecards from watchdog groups, and more.

%p Third, become an OG Booster. Boosters are members who contribute one dollar per day to support our mission of user-friendly online tools for civic engagement. Once we reach at least 100 OG Boosters per month, we can contract with a professional non-profit fundraiser to raise more money to hire more programmers to work on opening up more government data for everyone. Or, if you prefer to make a one-time tax-exempt donation to support our non-profit project, click here and you'll receive a reward of a free video download. 

%p What makes OpenGovernment new & different & useful? In short, we seek to provide the most user-friendly web resource for state and local political information on the Web. Political bloggers, educators, issue-based groups, citizen journalists, media publishers, government watchdogs, elected officials, casual web surfers, online activists: see the many <a href="/pages/about">ways you can use OpenGovernment</a>. Spread the word about OpenGovernment on social media: Twitter, Facebook, StumbleUpon, Reddit, Digg, and more ... or by pasting an OG badge on your website or blog.

%p Web developers and programmers: we're open-source to the core, contributors of code & info back to the commons, evangelists for open standards, believers in free culture, and activists for liberation of public data. See our <a href="/pages/about">developer hub</a>: data & feature wish list, join our discussions, check out our source code, help us expand to your state, and remix us for your locality.

%p We're a tiny non-profit team making big (free and open-source) things, and we have big plans for OpenGovernment. Following the principles of transparency and accessibility, we invite you to <a href="/pages/contact">contact us</a> and let us know what you think. 