- title("Help Us Open Government")

%p OpenGovernment is a free and open-source website for government transparency at the state and local levels. We're a non-profit and non-partisan public resource based on OpenCongress.org, the most-visited site for tracking the U.S. Congress.

%p This beta version of OpenGovernment connects you with the legislatures of five states: California, Louisiana, Maryland, Texas, and Wisconsin. We have a good start, but we need more resources to roll out OpenGovernment to all 50 U.S. states and beyond.  

%p Want to see a version of OpenGovernment for your state and city, and make this free public resource even better?  <strong>Help us grow!</strong> 

%p First, join our e-mail list to stay in touch:

%form(action="http://crm.ppolitics.org/civicrm/mailing/subscribe" method="post")
  %p
    %input(name="email" type="text" id="email")
    %input(name="mark_x_3" type="hidden" value="1")
    %input(name="_qf_Subscribe_next" value="Subscribe" type="submit")

%p ...we'll e-mail you about once a month with site updates as we work to take OpenGovernment national.

%p Second, <strong>follow us</strong> on <a href="http://twitter.com/open_gov" target="_blank">Twitter</a> (or <a href="http://identi.ca/opengovernment" target="_blank">Identi.ca</a>) and join us on the <a href="http://identi.ca/opengovernment" target="_blank">OpenCongress Facebook Group</a> (and coming soon, <a href="http://www.joindiaspora.com/" target="_blank">Diaspora</a>) to build our open community of citizen watchdogs.

%p Third, support OpenGovernment by making a <strong>tax-exempt donation</strong> to our 501(c)3 non-profit organization: <a href="http://www.opencongress.org/donate" target="_blank">donate via OpenCongress</a>. Your donation helps us add valuable new data sources, important new site features, and most importantly, speeds up our ability to bring fully-grown versions of OpenGovernment to your state and city. 

%p <!If you're a strong believer in our mission, sign up to be an OG Booster. Boosters are members who contribute one dollar per day to support our open-source development. Once we reach at least 100 OG Boosters per month, we can contract with a professional non-profit fundraiser to raise more money to hire more programmers to liberate more government data for everyone on the open Web.-->

%p <strong>Charitable foundations</strong>, issue-based organization, philanthropists: we are actively seeking funding partners to continue to develop OpenGovernment. Just as OpenCongress has emerged as a go-to resource for transparency in the U.S. Congress, so can OpenGovernment become a powerful new tool for responsive and accountable government at the state, city, and local levels. <a href="/pages/contact">Contact us</a> for a copy of our non-profit fundraising prospectus and to start a conversation about our vision of civic engagement through open-source software and user-friendly Web tools.  

%p To help make this free public resource even better, sign up as an <strong>OG volunteer</strong> -- head over to our <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data" target="_blank">Drumbeat project page</a> and click the button to "join this project" (it's free and takes just a minute). There, you can join over hundreds of other contributors and help us find the following much-needed info for elected officials across the country (maybe even yours): social media accounts, public event schedules, video footage, scorecards from watchdog groups, and more.

%p What makes OpenGovernment new & different & useful? See more <strong><a href="/pages/about">about us</a></strong>. Political bloggers, educators, issue-based groups, citizen journalists, media publishers, government watchdogs, elected officials, casual web surfers: see the many <a href="/pages/about">ways you can use OpenGovernment</a>. 

%p <strong>Web developers</strong> and programmers: we're open-source to the core, contributors of code & info back to the commons, evangelists for open standards, believers in free culture, and activists for liberation of public data. Visit our <a href="/pages/about">developer hub</a>: data & feature wish list, join our discussions, check out our source code, and help us expand to your state or locality.

%p <strong>Spread the word</strong> about OpenGovernment on social media using the "share this" buttons below:

%p OpenGovernment is a joint project of two 501(c)3 non-profit organizations, the <a href="http://www.participatorypolitics.org/" target="_blank">Participatory Politics Foundation</a> and the <a href="http://sunlightfoundation.com/" target="_blank">Sunlight Foundation</a>, and we have big plans. In keeping with the principles of transparency and accessibility, we invite you to </strong><a href="/pages/contact">contact us</a></strong> and let us know what you think. 