- title("About OpenGovernment.org")

%p OpenGovernment is a free, open-source, non-profit, and non-partisan project in early development. Our ultimate goal is to provide the public with accessible information about elected officials at every level of government: federal, state, city, local, and more. Our short-term goal is to grow, and you can help. 

%p First, stay in touch with site announcements by joining our low-volume <a href="http://crm.ppolitics.org/">e-mail list</a>.

%p Second, surf along with our micro-publishing updates: follow us on Twitter, Identi.ca, or subscribe to a good old-fashioned RSS feed. 

%p Third, join us on social networking services: Facebook, Diaspora, LinkedIn, or if you haven't already, by registering for a free "MyOG" account. 

/ Last, spread the word about our work on social sharing & bookmarking services: StumbleUpon, Reddit, Digg, and more ... or by pasting an OG badge on your website or blog.

%p In the best tradition of the open Web and institutional transparency, we strive to be approachable and welcome your questions and comments -- send us feedback. Links from PPF: PPolitics, OpenCongress, etc. Links from Sunlight: Sunlight Homepage, Labs, etc.

%p We've started with the state legislatures of just five U.S. states -- California, Louisiana, Maryland, Texas, and Wisconsin. We have a good start, but there's lots yet to do in order to roll out this model of transparency to the remaining 45 U.S. States and dozens of major cities across the country -- not to mention expanding to the other two major branches of government, the executive and judicial. Want to bring OpenGovernment to your state, city, neighborhood -- or countries other than the United States?

%p First, enter your 5-digit zip-code to join the OpenGovData campaign for your state. 

%p Second, sign up as an OG volunteer. You can help us find, for elected officials across the country, the following info: social media accounts, public event schedules, video footage, wiki content, and more.

%p Third, become an OpenGovernment Booster. There's a lot of work to do to truly build OpenGovernment, and we're a tiny non-profit team in need of more resources. Towards this end, we seek 500 members to make tax-exempt donations of just $5 per month so that we can hire a part-time non-profit fundraiser for OpenGovernment. More resources will allow us to build some amazing new open-source tools on OG: new data sources, user-friendly web features, helpful editorial context, ever-more-responsive user support, and mutually-reinforcing outreach to target audiences & online communities. The Participatory Politics Foundation and the Sunlight Foundation are both registered 501(c)3 non-profit organizations. With their membership, OG Boosters receive invites to online chats with OG site editors, a special web badge, and more. 

%p Who exactly do we intend hire as a fundraiser? Well, we're in touch with a number of dedicated candidates, but we hope this membership drive also serves to promote our job announcement across the wide open Web. Know someone who wants to work towards making government more open and accountable, or interested in applying yourself? Get in touch. 

%p If you support our mission to make government more open and accountable, please make a micro-donation now.

%p Are you in a position to give $1,000 or more to support our early-phase work? Let's start a conversation. 

%p Are you affiliated with a charitable foundation? Please download and circulate our two-page fundraising prospectus. With additional resources, OpenGovernment can become a powerful open-source tool for effective new methods of civic engagement. We have a good start and big plans and are actively seeking partners to help us grow. We have the potential to scale incredibly well, given the opportunity. We know we've already broken new ground and we think where we're headed is worth a philanthropic grant.

%p Political bloggers, educators, issue-based groups, citizen journalists, media publishers, government watchdogs, elected officials, casual web surfers, online activists: see the many ways you can use OpenGovernment. 

%p Web developers and programmers: we're open-source to the core, contributors of code & info back to the commons, evangelists for open standards, believers in free culture, and activists for liberation of public data. See our development wish list, join our discussions, check out our source code, help us expand to your state, and remix us for your locality. 