- title("OpenGovernment - Help") 

%p Hello - you arrived here from a page on OpenGovernment, a free and open-source web resource for government transparency in state legislatures. Read more <a href="/pages/about">about us</a>,  <a href="/pages/about#our_data_sources">our data sources</a>, or <a href="/pages/about#how_to_use_og">how to use OpenGovernment</a>. 

%p This beta version of the site has information for five state legislatures: California, Louisiana, Maryland, Texas, and Wisconsin.  Looking for something in particular in those five states -- say, a bill, or a vote, or an issue area, or an elected official? Try browsing from the state homepage, checking out the list of "key votes" under bills, or a search within your state of interest. 

%p Looking for your state legislature on OpenGovernment, if not one of the five listed above? It's not ready yet, but our open-source development team is working hard every day to get it ready. Read more about <a href="/pages/help">how you can help</a> and speed along the process of rolling out OpenGovernment to all 50 U.S. states, major cities, and beyond. 

%p If you still can't find what you're searching for on OpenGovernment, <a href="/pages/contact">contact us</a> with your question, and we'll do our best to help. We're a small non-profit team, eager to help but limited in our resources. 

%p Last, while you're here, join our e-mail list to stay in touch:

%form(action="http://crm.ppolitics.org/civicrm/mailing/subscribe" method="post")
  %p
    %input(name="email" type="text" id="email")
    %input(name="mark_x_3" type="hidden" value="1")
    %input(name="_qf_Subscribe_next" value="Subscribe" type="submit")

%p <em>(...we'll e-mail you about once a month with site updates as we work to take OpenGovernment national.)</em> 

%p Want to bring OpenGovernment to your state or city or country? Care to help make this free public resource even better? <a href="/pages/help">Help us grow!</a>