- title("OpenGovernment - Privacy Policy")

%p OpenGovernment is a free and open-source website for government transparency at any level: state, city, local, and more. We're a non-partisan public resource based on OpenCongress.org, the most-visited not-for-profit website for tracking the U.S. Congress.

%p As of this writing, user logins to OpenGovernment are only supported via free "My OpenCongress" accounts. Head over there to <a href="http://opencongress.org/register">register</a> a personal profile, read our <a href="http://www.opencongress.org/about/terms_of_service">Terms of Service</a>, <a href="http://www.opencongress.org/about/privacy_policy">Privacy Policy</a>, and <a href="http://www.opencongress.org/about/copyright_policy">Copyright Policy</a>. In short, we will not give your email address to any other entity for any reason. We're good stewards of the open-source movement in the public commons of the open Web. 
