- title("OpenGovernment.org - Resources")

%p OpenGovernment is a free, libre, and open-source public resource. Make use of what we do and help build public knowledge about politics. Resources & goodies below: 

%p General support and questions: <a href="http://support.opencongress.org/anonymous_requests/new">ZenDesk</a>

%p Developer Forum: <a href="http://groups.google.com/group/opengovernment/">OpenGovernment Google Group</a>

%p Email list: <a href="http://crm.ppolitics.org/">OpenGovernment site updates</a>

%p Social media: <a href="http://twitter.com/open_gov">@Open_Gov</a> on Twitter, <a href="http://identi.ca/opengovernment">@opengovernment</a> on Identi.ca, <a href="http://www.facebook.com/OpenCongress">OpenCongress Group</a> on Facebook, <a href="http://www.joindiaspora.com/">Diaspora</a> profile forthcoming, you better believe it. 

%p IRC: #opengovernment on freenode.net, or ping user: davidrussellmoor anytime. 

%p <a href="/pages/badges">Badges</a> for all five of our beta states and our logo. <a href="/pages/contact">Let us know</a> if you'd like another file format and we'll do our best to oblige. 

%p Address & contact info: <a href="http://www.participatorypolitics.org/contact/">Participatory Politics Foundation</a> (NYC) and <a href="http://sunlightfoundation.com/contact/">Sunlight Foundation</a> (Washington, D.C.)

%p More goodies to come here as soon as resources allow, including but not limited to the following:

%h2#wish_list OpenGovernment Wish List - some data, some features, some use cases ... much of it hopefully to come here, free and open-source as always.
%ol
  %li 
    %p An open API with documentation for obtaining all the info on the site
  %li 
    %p Free, customizable, embeddable widgets for bills, people, issues, votes, and campaign contributions in state government 
  %li 
    %p More RSS feed offerings and action alerts
  %li 
    %p Helpful video tips and more "how-to" screenshots
  %li 
    %p Some of the enhanced community features outlined here: <a href="http://www.opencongress.org/about#coming_soon">Coming Soon on OpenCongress</a>. See how you can <a href="/pages/help">help us grow</a>.
  %li 
    %p More MAPLight-style info analysis for campaign contributions made by special interests supporting & opposing individual bills 
  %li 
    %p More tools for bill text scrutiny -- permalinking to individual sections of bill text as offered on OpenCongress, version control for bill text revisions, and more. 
  %li 
    %p Site features on OpenGovernment to more productively contact your elected officials in timely ways.
  %li 
    %p Social media accounts, public schedules of elected officials, and more as detailed on the OG <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data">Drumbeat</a> page. 
  %li 
    %p A unified, easy-to-digest "activity feed" of actions for all the things you're tracking on OG (bills, issues, votes, actions by your elected officials, campaign contributions, and more)
  %li 
    %p Open standards for other civic actions: non-emergency issue reporting to state legislatures, collaborative voting-up and voting-down of policy options, participatory budgeting, and overall more tools for deliberative democracy
  %li
    %p Vibrant communities around our Miro Community sites for video and OpenGovernment - Wiki Community Project to build public knowledge about state and local government 