- title("OpenGovernment - Help") 

%p Welcome to OpenGovernment, a public resource website for government transparency. Free and open-source. Non-profit and non-partisan. This site is run by a small team dedicated to comprehensive reform of our electoral systems and greater civic engagement with the political process... as such, we're easy to reach and happy to help. 

%p This beta version of OpenGovernment has information for five U.S. state legislatures: California, Louisiana, Maryland, Texas, and Wisconsin. For each of those states, you can browse information as listed in the four major categories in the left-hand sidebar: Bills, People, Issues, and The Money Trail (campaign contributions). On those pages, you can browse legislative information by date, by most-viewed, by what's most in the news, and more.

%p Pages for individual bills and legislators, in turn, combine official government information with news coverage, blog posts, social media mentions, and more from around the open Web to make the legislative process more accessible. In addition, bill and people pages offer free tools to track official legislative actions, share them over social media with your community, and contact your elected officials. Read more <a href="/pages/about">about us</a>, <a href="/pages/about#our_data_sources">our data sources</a>, or <a href="/pages/about#how_to_use_og">ways you can use OpenGovernment</a>. 

%p Looking for your state on OpenGovernment, if it's not one of the five listed above? Unfortunately, it's not ready yet, but our open-source web development team is working hard every day to build it. Read more about <a href="/pages/help">how you can help</a> and speed along the process of rolling out OpenGovernment to all 50 U.S. states, major cities, and beyond. 

%p Looking for something in particular in those five states -- say, a bill in the news, or how to find and contact all your elected officials in those states? Try browsing from the state homepage, checking out the list of "key votes" under bills, or a search within your state of interest. 

%p If you still can't find what you're searching for on OpenGovernment, <a href="/pages/contact">contact us</a> with your question, and we'll do our best to help. We're a small non-profit team, easy to reach and interested in your feedback on this collaborative work-in-progress. 

%h2#improve_our_data <a href="/pages/site-help#improve_our_data">Improve Our Data</a> 

%p This is a beta version of OpenGovernment -- we welcome public help in continually adding relevant new data. On pages of members of state legislatures, especially, there are a few places where volunteers can help us double-check our data quality. 

%p The first place is the Wikipedia bio excerpted on people pages -- we automatically search Wikipedia for a page with the name of a specific legislator, but even though we optimize our query as much as possible, the hundreds of possible variants of names means that we inadvertently bring in some false positives of other individuals with quite-similar names. We can fix these easily if you let us know: file a ticket in our <a href="http://support.opencongress.org/anonymous_requests/new" target="_blank">ZenDesk customer support service</a> with the URL of our page with the irrelevant Wikipedia bio and the URL of the suggested correct bio page. The same holds for news coverage, blog posts, or social media mentions of a bill or member -- if you see extraneous results, don't worry, we'll clean it up, just let us know. 

%p If you have official contact information for us to display on our profile page of elected official, please also submit as much as you have via <a href="http://support.opencongress.org/anonymous_requests/new" target="_blank">ZenDesk</a>. If you have questions about the official government information or campaign contribution information displayed on the site, OpenGovernment should be consistent with the primary source in each case, so you can double-check our data with the official state .gov webpage wherever it's displayed on an OpenGovernment page for a bill or legislator, and conduct a search of <a href="http://www.followthemoney.org/" target="_blank">FollowTheMoney</a> to verify campaign contribution info. If you see any discrepancy, we'll examine it right away, simply contact us with the relevant URLs via ZenDesk as above. Read more about <a href="http://opengovernment.org/pages/about/#our_data_sources" target="_blank">our data sources</a>. 

%p Last, while you're here, join our e-mail list to stay in touch:

%form(action="http://crm.ppolitics.org/civicrm/mailing/subscribe" method="post" class="rounded padding floatleft border background margin-right")
  %p
    %input(name="email" type="text" id="email" class="field cap")
    %input(name="mark_x_3" type="hidden" value="1")
    %input(name="_qf_Subscribe_next" value="Subscribe" type="submit" class="button medium cap")

%p <em>(...we'll e-mail you about once a month with updates as we work to take OpenGovernment national.)</em> 

%p Want to bring OpenGovernment to your state, city, neighborhood -- or another country or international institution? Care to help make this free & open-source public resource even better? <a href="/pages/help">Help us grow!</a>