- title("Our Wish List")

%p Please find below a preliminary "wish list" for OpenGovernment, a mix of the following: data we know is out there (but don't yet have aggregated here by GovKit, whether for technical limitations or other reasons), government data we would have in a more transparent & accountable democracy (more of an ideal), features we plan to have on OG but don't yet (but do have on OC), features we plan to have on OG (but don't yet on OC), and features we don't yet have on either OC or OG (but plan to have for the public good). Questions & input welcome here as we seek to bring these into being in the year to come.

%p Data For Which We Ardently Wish (liberated, freely-licensed, and in open standards as always)

%ol
  %li 
    %p Social media accounts for legislators (e.g., Facebook & Twitter), public schedules of elected officials, and more as detailed on the OG <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data">Drumbeat</a> page. 
  %li 
    %p More MAPLight-style info analysis of campaign contributions made by special interests supporting & opposing individual bills. I.e., for key votes in state legislatures, users should easily be able to see the big picture of how the money stacked up in favor and against the bill before the vote. MAPLight and others have a foundation for conducting this vital analysis in the U.S. Congress, but state & local governments remain largely in the dark.
  %li 
    %p Bill text data -- enabling better tools for, say, permalinking to individual sections of bill text as offered on OpenCongress, version control for bill text revisions, tracking changes, comparing sections, collaborative bill drafting by the public, holding members accountable for individual sections of text, and more.
  %li 
    %p Open standards for other civic actions: non-emergency issue reporting to state legislatures, collaborative voting-up and voting-down of policy options, participatory budgeting, and overall more tools for deliberative democracy. In this, we're proud to be part of <a href="http://civiccommons.com/">CivicCommons</a>, working with the open-source open-gov community to share standards and best practices. 
  %li 
    %p Official video streams of state government actions, in open formats and licensed freely, so users can easily view, find, and share videos of their elected officials in action at every stage of the legislative process. Online video is a fast-growing and important medium.
     
%p Site Features Towards Which We Diligently Work (free and open-source as always)

%ol
  %li 
    %p An open OG API with documentation for obtaining all the info on the site, as on OC
  %li 
    %p Free, customizable, embeddable widgets for bills, people, issues, votes, and campaign contributions in state government, as on OC
  %li 
    %p More RSS feed offerings and action alerts over email, as on OC
  %li 
    %p Helpful video tips and more "how-to" screenshots, as on OC
  %li 
    %p Features on OpenGovernment to more productively contact your elected officials in timely ways, as outlined here: <a href="http://www.opencongress.org/about#coming_soon">Contact Congress with Social Feedback</a>. 
  %li 
    %p A unified, easy-to-digest "activity feed" of actions for all the things you're tracking on OG (bills, issues, votes, actions by your elected officials, campaign contributions, and more) - as on "My OpenCongresss" feeds of Tracked Items. Integration with social media is likely inevitable here. 
  %li
    %p Vibrant communities around our Miro Community sites for video and OpenGovernment - Wiki Community Project to build public knowledge about state and local government on the open Web
  %li 
    %p Integration with the amazing open-source transparency project <a href="http://littlesis.org/" target="_blank">LittleSis</a>, a project of an allied non-profit organization, the <a href="http://public-accountability.org/" target="_blank">Public Accountability Initiative</a> -- i.e., being able to research all members of state government and their interlocks on LittleSis, complete with cross-links b/w LittleSis pages & corresponding pages on OpenGovernment. LittleSis is a fantastically promising developing project and there are lots of exciting options for collaboration between these efforts that will make effective public accountability even easier to access. 

%p See how you can <a href="/pages/help">help us grow</a>.
