- title("Project Roadmap")

%p Please find below a preliminary "wish list" for OpenGovernment, a mix of the following. Developers: please get started by visiting our <a href="/pages/developer">developer hub</a>, and then by loading up our <a href="https://www.pivotaltracker.com/projects/64842" target="_blank">Pivotal Tracker</a> and clicking the "wish list" tag. If that's a bit confusing, rest assured we're easy to work with and eager for volunteer help, hit us up on IRC in #opengovernment or freenode.net. 

%h3 Site Features We Seek

%ul.lined.and_spaced
  %li An API with documentation for obtaining all the info on the site.
  %li Customizable, embeddable widgets for bills, people, issues, votes, and campaign contributions in state government
  %li More RSS feed offerings and action alerts over email
  %li Helpful video tips and more "how-to" screenshots
  %li Mobile versions of OpenGovernment for Android and other smartphones
  %li Dynamic district maps, as seen in Google Maps, for finding elected officials & district boundaries, from the open-source <a href="http://geoserver.org/display/GEOS/Welcome" target="_blank">GeoServer</a>.
  %li Features on OpenGovernment to more productively contact your elected officials in timely ways, as outlined here: <a href="http://www.opencongress.org/about#coming_soon">Contact Congress with Social Feedback</a>. 
  %li A unified, easy-to-digest "activity feed" of actions for all the things you're tracking on OG (bills, issues, votes, actions by your elected officials, campaign contributions, and more) - as on "My OpenCongresss" feeds of Tracked Items. Integration with social media is likely inevitable here. 
  %li Vibrant communities around our Miro Community sites for video and OpenGovernment - Wiki Community Project to build public knowledge about state and local government on the open Web
  %li Integration with the amazing open-source transparency project <a href="http://littlesis.org/" target="_blank">LittleSis</a>, a project of an allied non-profit organization, the <a href="http://public-accountability.org/" target="_blank">Public Accountability Initiative</a> -- i.e., being able to research all members of state government and their interlocks on LittleSis, complete with cross-links b/w LittleSis pages & corresponding pages on OpenGovernment. LittleSis is a fantastically promising developing project and there are lots of exciting options for collaboration between these efforts that will make effective public accountability even easier to access. 

%h3 Data We Seek (liberated, freely-licensed, and in open standards)

%p This includes data we know is out there but don't yet have on the site, and government data one would normally have openly accessible in a sufficiently transparent, deliberative democracy.

%ul.lined.and_spaced
  %li Official social media accounts for legislators (e.g., Facebook & Twitter), public schedules of elected officials, and more as detailed and crowdsourced on the OG <a href="https://www.drumbeat.org/project/opengovernment-needs-open-data">Drumbeat</a> page. 
  %li More MAPLight-style info analysis of campaign contributions made by special interests supporting & opposing individual bills. I.e., for key votes in state legislatures, users should easily be able to see the big picture of how the money stacked up in favor and against the bill before the vote. MAPLight and others have a foundation for conducting this vital analysis in the U.S. Congress, but as they work on state sites such as theirs for <a href="http://maplight.org/california" target="_blank">California</a>, state & local governments remain largely in the dark.
  %li Bill text data -- enabling better tools for, say, permalinking to individual sections of bill text as offered on OpenCongress, version control for bill text revisions, tracking changes, comparing sections, collaborative bill drafting by the public, holding members accountable for individual sections of text, and more.
  %li Open standards for other civic actions: non-emergency issue reporting to state legislatures (e.g., <a href="http://open311.org/" target="_blank">Open311</a>), collaborative voting-up and voting-down of policy options, participatory budgeting, and overall more tools for deliberative democracy. In this, we're proud to be part of <a href="http://civiccommons.com/">CivicCommons</a>, working with the open-source open-gov community to share standards and best practices. 
  %li Official video streams of state government actions, in open formats and licensed freely, so users can easily view, find, and share videos of their elected officials in action at every stage of the legislative process. Online video is a fast-growing and important medium.

%p In much of the above, our limiting factor isn't ideas, or a lack of valuable data to make open, but rather money for open-source web development time. See how you can <a href="/pages/help">help us grow</a>. 
