- unless subject[:bill_count].blank?
  %li
    - if subject.bill_count.to_i == 0
      = subject.name
    - else
      %span.link
        = link_to(subject.name, subject_path(params[:session], subject))
    - surround '(',')' do
      = pluralize(subject.bill_count, 'Bill')
- else
  %li
    .link= link_to(subject.name, subject_path(params[:session], subject))
