<div class="DV-annotationMarker" id="DV-annotationMarker-<%= id %>">
  <span class="DV-trigger">
    <span class="DV-navAnnotationTitle"><%= title %></span>&nbsp;<span class="DV-navPageNumber">p.<%= page %></span>
  </span>
</div>