<div id="DV-chapter-<%= id %>" class="DV-chapter <%= navigationExpanderClass %>">
  <div class="DV-first">
    <%= navigationExpander %>
    <span class="DV-trigger">
      <span class="DV-navChapterTitle"><%= title %></span>&nbsp;<span class="DV-navPageNumber">p.&nbsp;<%= pageNumber %></span>
    </span>
  </div>
  <%= noteViews %>
</div>