<% if (description) { %>
  <div class="DV-description">
    <div class="DV-descriptionHead">
      <span class="DV-descriptionToggle DV-showDescription DV-trigger"> Toggle Description</span>
      Description
    </div>
    <div class="DV-descriptionText"><%= description %></div>
  </div>
<% } %>
